{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}

        <!-- Start of Main Container-->
        <main>
            <section class="content-wrapper user-page">

                <!-- Content Wrapper Title -->
                <div class="wrapper-title justify-content-between align-items-center">
                    <h2>% 유저닉네임 %</h2>

                    <!-- Breadcrumbs -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">유저</a></li>
                            <li class="breadcrumb-item"><a href="#">유저조회</a></li>
                            <li class="breadcrumb-item active" aria-current="page">유저상세</li>
                        </ol>
                    </nav>
                    <!-- End of Breadcrumbs -->
                </div>
                <!-- End of Content Wrapper Title -->

                <!-- Tabs -->
                <div class="wrapper-actions with-tabs">
                    <ul class="nav nav-tabs" role="tablist">

                        <!-- User Details Link -->
                        <li class="nav-item">
                            <a class="nav-link" id="content-1-tab"
                                href="{{#if htmlWebpackPlugin.options.isProduction}}./{{else}}/pages/user/{{/if}}user-details.html">계정</a>
                        </li>

                        <!-- User Account Link -->
                        <li class="nav-item">
                            <a class="nav-link" id="content-2-tab"
                                href="{{#if htmlWebpackPlugin.options.isProduction}}./{{else}}/pages/user/{{/if}}user-account.html">계좌</a>
                        </li>

                        <!-- User Casino Link -->
                        <li class="nav-item">
                            <a class="nav-link" id="content-3-tab"
                                href="{{#if htmlWebpackPlugin.options.isProduction}}./{{else}}/pages/user/{{/if}}user-casino.html">카지노프로그램</a>
                        </li>

                        <!-- User Security Link -->
                        <li class="nav-item">
                            <a class="nav-link active" id="content-4-tab"
                                href="{{#if htmlWebpackPlugin.options.isProduction}}./{{else}}/pages/user/{{/if}}user-security.html">보안</a>
                        </li>
                    </ul>
                </div>
                <!-- End of Tabs -->

                <!-- Block Tabs -->
                <ul class="nav nav-tabs with-block-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="user-security-settings-tab" data-toggle="tab"
                            href="#user-security-settings" role="tab" aria-controls="user-security-settings-tab"
                            aria-selected="true">보안 설정 정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user-security-login-history-tab" data-toggle="tab"
                            href="#user-security-login-history" role="tab"
                            aria-controls="user-security-login-history-tab" aria-selected="false">접속 기록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user-security-auth-tab" data-toggle="tab" href="#user-security-auth"
                            role="tab" aria-controls="user-security-auth-tab" aria-selected="false">보안 인증 기록</a>
                    </li>
                </ul>
                <!-- End of Block Tabs -->

                <!-- Tab Content -->
                <div class="tab-content">

                    <!-- User Security Settings -->
                    <div class="tab-pane fade show active" id="user-security-settings" role="tabpanel"
                        aria-labelledby="user-security-settings-tab">

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body with-blocks-tab user-security-blocks">

                            <!-- Table -->
                            <div class="tb with-multiple-table">
                                <!-- Table 1 -->
                                <table>
                                    <colgroup>
                                        <col width="25%" />
                                        <col width="25%" />
                                        <col width="25%" />
                                        <col width="25%" />
                                    </colgroup>

                                    <!-- Table Header -->
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Google OTP</th>
                                            <th scope="col" class="text-center color-gray">디바이스</th>
                                            <th scope="col" class="text-center color-gray">출금 화이트 리스트</th>
                                            <th scope="col" class="text-center color-gray">해외 로그인 접속차단</th>
                                        </tr>
                                    </thead>

                                    <!-- Table Body -->
                                    <tbody>
                                        <tr>
                                            <td class="text-center color-red">% ON/OFF %</td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- End of Table -->

                        </div>
                        <!-- End of Content Wrapper Body -->

                    </div>
                    <!-- End of User Security Settings -->

                    <!-- User Security Login History -->
                    <div class="tab-pane fade" id="user-security-login-history" role="tabpanel"
                        aria-labelledby="user-security-login-history-tab">

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body with-blocks-tab user-security-blocks">

                            <!-- Body Header -->
                            <div class="wrapper-body-header">

                                <!-- Title -->
                                <span class="title">타이틀</span>

                                <!-- Dropdown -->
                                <select class="dropdown-select show-tick line-32">
                                    <option>필터</option>
                                    <option>필터 1.1</option>
                                    <option>필터 1.2</option>
                                    <option>필터 1.3</option>
                                    <option>필터 1.4</option>
                                </select>

                            </div>

                            <!-- Table -->
                            <div class="tb without-side-border">
                                <!-- Table 1 -->
                                <table>

                                    <colgroup>
                                        <col width="5%">
                                        <col width="5%">
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="15%">
                                    </colgroup>

                                    <!-- Table Header -->
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="checkbox-button">
                                                    <label for="chk_1">
                                                        <input type="checkbox" value="" id="chk_1">
                                                        <i class="checkbox"></i>
                                                    </label>
                                                </div>
                                            </th>
                                            <th scope="col">NO</th>
                                            <th scope="col">카테고리 ID</th>
                                            <th scope="col">OS</th>
                                            <th scope="col">Browser</th>
                                            <th scope="col">IP</th>
                                            <th scope="col">국가</th>
                                            <th scope="col">상태</th>
                                        </tr>
                                    </thead>

                                    <!-- Table Body -->
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox-button">
                                                    <label for="chk_2">
                                                        <input type="checkbox" value="" id="chk_2">
                                                        <i class="checkbox"></i>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td>2020-04-23 00:00:00</td>
                                            <td>% 운영체제 %</td>
                                            <td>% 브라우저 %</td>
                                            <td>% IP %</td>
                                            <td>% 국가 %</td>
                                            <td>성공</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- End of Table -->

                            <!-- Body Footer -->
                            <div class="wrapper-body-footer">

                                <!-- Footer Actions -->
                                <div class="actions">

                                    <!-- Delete -->
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn line-32 with icons icon-delete"></button>
                                    </div>

                                    <!-- Dropdown -->
                                    <select class="dropdown-select show-tick line-40">
                                        <option>필터</option>
                                    </select>
                                </div>

                                <!-- Pagination -->
                                <ul class="pagination">
                                    <li class="page-item icons icon-chevron-left-gray"><a href="#"></a></li>
                                    <li class="page-item active"><a href="#">1</a></li>
                                    <li class="page-item"><a href="#">2</a></li>
                                    <li class="page-item"><a href="#">3</a></li>
                                    <li class="page-item"><a href="#">4</a></li>
                                    <li class="page-item"><a href="#">5</a></li>
                                    <li class="page-item ellipsis"></li>
                                    <li class="page-item"><a href="#">20</a></li>
                                    <li class="page-item icons icon-chevron-right-gray"><a href="#"></a></li>
                                </ul>
                                <!-- End of Pagination -->

                            </div>
                            <!-- End of Body Footer -->

                        </div>
                        <!-- End of Content Wrapper Body -->

                    </div>
                    <!-- End of User Security Login History -->

                    <!-- User Security Authentication Lists -->
                    <div class="tab-pane fade" id="user-security-auth" role="tabpanel"
                        aria-labelledby="user-security-auth-tab">

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body with-blocks-tab user-security-blocks">

                            <!-- Body Header -->
                            <div class="wrapper-body-header">

                                <!-- Title -->
                                <span class="title">보안 인증 기록</span>

                                <!-- Dropdown -->
                                <select class="dropdown-select show-tick line-32">
                                    <option>필터</option>
                                    <option>필터 1.1</option>
                                    <option>필터 1.2</option>
                                    <option>필터 1.3</option>
                                    <option>필터 1.4</option>
                                </select>

                            </div>

                            <!-- Table -->
                            <div class="tb without-side-border">
                                <!-- Table 1 -->
                                <table>

                                    <colgroup>
                                        <col width="5%">
                                        <col width="5%">
                                        <col width="18%">
                                        <col width="18%">
                                        <col width="18%">
                                        <col width="18%">
                                        <col width="18%">
                                    </colgroup>

                                    <!-- Table Header -->
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="checkbox-button">
                                                    <label for="check_01">
                                                        <input type="checkbox" value="" id="check_01">
                                                        <i class="checkbox"></i>
                                                    </label>
                                                </div>
                                            </th>
                                            <th scope="col">NO</th>
                                            <th scope="col">날짜</th>
                                            <th scope="col">OS</th>
                                            <th scope="col">활동</th>
                                            <th scope="col">IP</th>
                                            <th scope="col">상태</th>
                                        </tr>
                                    </thead>

                                    <!-- Table Body -->
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox-button">
                                                    <label for="check_02">
                                                        <input type="checkbox" value="" id="check_02">
                                                        <i class="checkbox"></i>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td>2020-04-23 00:00:00</td>
                                            <td>% 운영체제 %</td>
                                            <td>Google OTP 인증 / 비밀번호 재설정</td>
                                            <td>% IP %</td>
                                            <td>성공</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- End of Table -->

                            <!-- Body Footer -->
                            <div class="wrapper-body-footer">

                                <!-- Footer Actions -->
                                <div class="actions">

                                    <!-- Delete -->
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn line-32 with icons icon-delete"></button>
                                    </div>

                                    <!-- Dropdown -->
                                    <select class="dropdown-select show-tick line-40">
                                        <option>필터</option>
                                    </select>
                                </div>

                                <!-- Pagination -->
                                <ul class="pagination">
                                    <li class="page-item icons icon-chevron-left-gray"><a href="#"></a></li>
                                    <li class="page-item active"><a href="#">1</a></li>
                                    <li class="page-item"><a href="#">2</a></li>
                                    <li class="page-item"><a href="#">3</a></li>
                                    <li class="page-item"><a href="#">4</a></li>
                                    <li class="page-item"><a href="#">5</a></li>
                                    <li class="page-item ellipsis"></li>
                                    <li class="page-item"><a href="#">20</a></li>
                                    <li class="page-item icons icon-chevron-right-gray"><a href="#"></a></li>
                                </ul>
                                <!-- End of Pagination -->

                            </div>
                            <!-- End of Body Footer -->

                        </div>
                        <!-- End of Content Wrapper Body -->

                    </div>
                    <!-- End of User Security Authentication Lists -->

                </div>
                <!-- End of Tab Content -->

            </section>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    <!-- Start of User Modal -->
    {{> ./user-modals }}
    <!-- End of User Modal -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>