@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Black.woff2') format('woff2'),
        url('Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Bold.woff2') format('woff2'),
        url('Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-ExtraBold.woff2') format('woff2'),
        url('Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-ExtraLight.woff2') format('woff2'),
        url('Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Medium.woff2') format('woff2'),
        url('Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Light.woff2') format('woff2'),
        url('Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Regular.woff2') format('woff2'),
        url('Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-SemiBold.woff2') format('woff2'),
        url('Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Thin.woff2') format('woff2'),
        url('Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

