{{> views/templates/head }}

<body>
    {{> views/templates/gnb }}


    <!-- Start of App Container -->
    <div class="app-container">

        {{> views/templates/lnb }}


        <!-- Start of Main Container-->
        <main>
            <div class="content-wrapper">
                Main Container
            </div>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

</body>

</html>