
/* About
-----------------------------------------------------------------*/

.about{

    .profile-img{
        position: relative;
        padding: 30px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 500px;

        .icon{
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 20px;
            border: 1px solid rgba(255,255,255,.1);
            padding: 12px;
            background: rgba(255,255,255,.01);
            backdrop-filter: blur(5px);
            z-index: 3;

            &:nth-of-type(1){
                top: 30px;
                left: 20px;
                transform: rotate(10deg);
            }

            &:nth-of-type(2){
                top: 40%;
                right: -10px;
                transform: rotate(15deg);
                filter: blur(2px);
                z-index: -1;
            }

            &:nth-of-type(3){
                bottom: 30px;
                left: -25px;
                transform: rotate(-10deg);
            }

            &:nth-of-type(4){
                bottom: 50px;
                right: 40px;
                transform: rotate(-10deg);
            }
        }
    }

    .img{
        border-radius: 500px;
        height: 680px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .info{
        position: relative;
        border: 1px solid rgba(255,255,255,.1);
        padding: 20px 40px;
        border-radius: 10px;

        .item{
            
            .icon{
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                background: $main_color;
                color: #0c0c0c;
                font-size: 20px;
            }
        }
    }
}