
/* Resume
-----------------------------------------------------------------*/

.resume{

    .items,
    .item{

        h6{
            position: relative;

            &:before{
                content: '';
                position: absolute;
                bottom: -35px;
                left: calc(50% - 5px);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $main_color;
                z-index: 2;
            }

            &:after{
                content: '';
                position: absolute;
                bottom: -30px;
                left: -50%;
                width: 200%;
                border-bottom: 1px solid #3d3d3d;
            }
        }

        h5{
            font-size: 22px;
        }

        span{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
        }
    }

    .swiper-pagination{
        bottom: 0;
    }

    .swiper-wrapper{
        padding-bottom: 50px;
    }
}

.resume2{

    .resume-clumn{
        border-left: 1px solid rgba(255,255,255,.1);
    }

    .items{
        padding-left: 50px;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            left: -5px;
            top: 10px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $main_color;
            z-index: 2;
        }

        h6{
           display: inline-block;
           padding: 7px 20px;
           border: 1px solid rgba(255,255,255,.1);
           border-radius: 30px;
           margin-bottom: 15px;
        }

        h5{
            font-size: 22px;
        }

        span{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
        }
    }
}

.skills{

    .item{
        padding: 30px 30px 0;
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 10px;
        position: relative;

        .value{
            font-size: 12px;
            padding: 3px 10px;
            border-radius: 30px;
            border: 1px solid rgba(255,255,255,.2);
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .skill-progress {
        height: 3px;
        background-color: rgba(255,255,255,.1);
        position: relative;
        border-radius: 5px;

        .progres {
            position: absolute;
            height: 100%;
            width: 0;
            top: 0;
            left: 0;
            background-color: #fff;
            transition: all 1.5s;
            border-radius: 5px;
        }
    }
}