

/* Services
-----------------------------------------------------------------*/

.services{

    .item{
        padding: 50px 30px;
        position: relative;
        border-radius: 10px;

        &.bord{
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: transparent;

            &:before,
            &:after{
                display: none;
            }
        }

        .cont{
            position: relative;
            z-index: 3;
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #0c0c0c;
            pointer-events: none;
            border-radius: 10px;
        }

        &:after{
            content: '';
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            background: linear-gradient(140deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
            z-index: -1;
            pointer-events: none;
            border-radius: 10px;
        }
    }

    &.serv2{

        .item{
            background-color: #0c0c0c;

            &:before{
                background: linear-gradient(120deg, rgba(255,255,255,0.24), rgba(255,255,255,0.04));
                opacity: 0.3;
            }
        }
    }
}

