@font-face {
    font-family: 'Apex Mk2';
    font-style: normal;
    font-weight: 400;
    src: local('Apex Mk2'), url('https://fonts.cdnfonts.com/s/88768/ApexMk2-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Apex Mk2';
    font-style: normal;
    font-weight: 300;
    src: local('Apex Mk2'), url('https://fonts.cdnfonts.com/s/88768/ApexMk2-LightCondensed.woff') format('woff');
}
@font-face {
    font-family: 'Apex Mk2';
    font-style: normal;
    font-weight: 700;
    src: local('Apex Mk2'), url('https://fonts.cdnfonts.com/s/88768/ApexMk2-BoldExtended.woff') format('woff');
}


