
/* Brands
-----------------------------------------------------------------*/

.brands{

    h6{
        font-size: 14px;
        display: inline-block;
        padding: 12px 30px;
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 30px;
    }

    .item{
        margin-top: 60px;

        .img{
            margin: auto;
        }
    }
}