
/* Pricing
-----------------------------------------------------------------*/

.price{

    .item{
        padding: 60px 30px 40px;
        position: relative;
        background-color: #0c0c0c;
        border-radius: 30px;

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(120deg, rgba(255,255,255,0.24), rgba(255,255,255,0.04));
            opacity: 0.3;
            pointer-events: none;
            border-radius: 30px;
        }

        &:after{
            content: '';
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
            z-index: -1;
            pointer-events: none;
            border-radius: 30px;
        }

        .type{
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 10px 20px;
            color: #1d1d1d;
            font-weight: 500;
            font-size: 13px;
            text-transform: uppercase;
            background: $main_color;
            border-radius: 30px;
        }

        .content{

            .feat{

                li{
                    margin-bottom: 15px;
                    display: flex;

                    i{
                        font-size: 13px;
                        color: $main_color;
                        margin-right: 10px;
                        padding-top: 3px;
                    }
                }
            }
        }

        .butn{
            padding: 10px 25px;

            span{
                white-space: nowrap;
            }
        }
    }
}