{{> ../../../views/templates/head }}

<body>
    <div class="login-wrapper">
        <div class="login-bx">
            <h1>SPERA Backoffice</h1>

            <div class="row username">
                <input type="text" class="inp-username" placeholder="Email" />
            </div>

            <div class="row">
                <input type="password" class="inp-password" placeholder="Password">
                <button type="button" class="btn-peek"></button>
            </div>

            <button type="button" class="btn solid-36 btn-submit">Log In</button>

            <div class="footnote">
                <span>If you have any questions, please contact our E-mail</span>
                <a href="mailto:supporter@luckydaybet.com">supporter@luckydaybet.com</a>
            </div>
        </div>
    </div>
</body>

</html>