{{> ../../../views/templates/head }}

<body>
    <div class="login-wrapper">
        <div class="login-bx">
            <h2>You are not registered</h2>

            <div class="footnote">
                <span>If you have any questions, please contact our E-mail</span>
                <a href="mailto:supporter@luckydaybet.com">supporter@luckydaybet.com</a>
            </div>
        </div>
    </div>
</body>

</html>