{{> ../../../views/templates/head }}

<body>
    <div class="login-wrapper">
        <div class="login-bx maintenance">
            <img class="clipart" src="{{ htmlWebpackPlugin.options.relativePath }}/static/images/maintenance@2x.png"
                alt="">

            <h2>Maintenance Notice</h2>

            <div class="message">
                <span>Maintenance in progress. We apologize for the inconvenience.</span>
                <span>The site will be available shortly.</span>
            </div>


            <div class="footnote">
                <span>If you have any questions, please contact our E-mail</span>
                <a href="mailto:supporter@luckydaybet.com">supporter@luckydaybet.com</a>
            </div>
        </div>
    </div>
</body>

</html>