// Colors
$text-color: #6c6c6c;
$heading-color: #111111;
$subheading-color: #acacac;
$bg-light: #f9fbfc;
$bg-dark: #181821;
$dark-grey: #424242;
$light-grey: #a3a3a3;
$border-color: #e5e9ec;
$main-color: #2a83e8;


// Fonts
$body-font: 'Roboto', sans-serif;
$body-font-fauna: 'Fauna One', sans-serif;
$heading-font: 'Barlow', sans-serif;
$heading-font-raleway: 'Raleway', sans-serif;
$heading-font-playfair: 'Playfair Display', serif;
$heading-font-dosis: 'Dosis', sans-serif;
$heading-font-poppins: 'Poppins', sans-serif;
$heading-font-source-sans: 'Source Sans Pro', sans-serif;
$heading-font-roboto: 'Roboto', sans-serif;
$alt-font: 'Noto Serif', serif;