{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}

        <!-- Start of Main Container-->
        <main>
            <section class="content-wrapper portal-page">
            
                <!-- Content Wrapper Title -->
                <div class="wrapper-title justify-content-between align-items-center">
                    <h2>알림 메시지 발송</h2>
                
                    <!-- Breadcrumbs -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">포털</a></li>
                            <li class="breadcrumb-item"><a href="#">메시지 발송</a></li>
                            <li class="breadcrumb-item active" aria-current="page">띠배너 알림</li>
                        </ol>
                    </nav>
                    <!-- End of Breadcrumbs -->
                </div>
                <!-- End of Content Wrapper Title -->

                <!-- Content Wrapper Body -->
                <div class="wrapper-body" style=" height: 220px; margin-bottom: 20px">
                
                    <!-- Body Header -->
                    <div class="wrapper-body-header">
                        <span class="title">기본 정보</span>
                    </div>
                    <!-- End of Body Header -->
                
                    <!-- Table -->
                    <div class="form-table basic-info-blocks">
                        <table>
                            <tbody>
                
                                <!-- Row -->
                                <tr>
                                    <td>
                                        <label for="" class="td-content-title">게시물 ID</label>
                                        <div class="td-content">
                                            <div class="input-container" data-target="#input-basic" style="width: 540px;">
                                                <input class="input-field" id="input-basic" type="text" placeholder="ID 자동 발급"
                                                    maxlength="100" maxend="자" disabled>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                
                                <tr>
                                    <td>
                                        <label for="" class="td-content-title">게시 기간</label>
                                        <div class="td-content">
                                            <div class="daterange-picker-container" style="width: 540px;">
                                                <input type="text" name="daterange" value="2018-06-10  ~  2018-06-12" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                
                            </tbody>
                        </table>
                    </div>
                    <!-- End of Table -->
                
                </div>
                <!-- End of Content Wrapper Body -->

                <!-- Content Wrapper Body -->
                <div class="wrapper-body h-auto" style="margin-bottom: 30px;">
                
                    <!-- Table -->
                    <h5 class="form-table-title">메시지 입력</h5>
                    <div class="form-table message-info">
                        <table>
                            <tbody>

                                <!-- Row -->
                                <tr>
                                    <td style="height: 150px;">
                                        <label class="td-content-title">영어 메시지 입력</label>
                                        <div class="td-content forms-container">
                                            <div class="form-group align-items-start">
                                                <span class="form-label">내용</span>
                                                <div class="forms-column">
                                                    <div class="input-container with-textarea" data-target="#textarea-basic">
                                                        <textarea class="input-field" placeholder="내용을 입력해주세요" maxlength="1000" maxend="자"
                                                            id="textarea-basic" cols="30" rows="10"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                
                                <!-- Row -->
                                <tr>
                                    <td style="height: 150px;">
                                        <label class="td-content-title label-group">
                                            <span>한글 메시지 입력</span>
                                            <ul>
                                                <li>미입력시 영어 적용</li>
                                            </ul>
                                        </label>
                                        <div class="td-content forms-container">
                
                                            <div class="form-group align-items-start">
                                                <span class="form-label">내용</span>
                                                <div class="forms-column">
                                                    <div class="input-container with-textarea" data-target="#textarea-basic">
                                                        <textarea class="input-field" placeholder="내용을 입력해주세요" maxlength="1000"
                                                            maxend="자" id="textarea-basic" cols="30" rows="10"></textarea>
                                                    </div>
                                                </div>
                
                                            </div>
                
                                        </div>
                                    </td>
                                </tr>
                
                                <!-- Row -->
                                <tr>
                                    <td style="height: 150px;">
                                        <label class="td-content-title label-group">
                                            <span>중국어(간체) 메시지 입력</span>
                                            <ul>
                                                <li>미입력시 영어 적용</li>
                                            </ul>
                                        </label>
                
                                        <div class="td-content forms-container">
                                            <div class="form-group align-items-start">
                                                <span class="form-label">내용</span>
                                                <div class="forms-column">
                                                    <div class="input-container with-textarea" data-target="#textarea-basic">
                                                        <textarea class="input-field" placeholder="내용을 입력해주세요" maxlength="1000"
                                                            maxend="자" id="textarea-basic" cols="30" rows="10"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                
                            </tbody>
                        </table>
                    </div>
                    <!-- End of Table -->
                
                
                </div>
                <!-- End of Content Wrapper Body -->

                <!-- Footer Action -->
                <div class="wrapper-footer-action">
                
                    <div class="footer-actions">
                        <button type="button" class="btn confirm-solid-red-46">삭제</button>
                    </div>
                
                    <div class="footer-actions">
                        <button type="button" class="btn confirm-line-46">취소</button>
                        <button type="button" class="btn confirm-solid-46">등록</button>
                    </div>
                
                </div>

            
            </section>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>