<div class="modal modal-medium with-scroll fade" id="portalMessageNotificationInfo" tabindex="-1" role="dialog"
    aria-labelledby="portalMessageNotificationInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content pt-0">
            <!-- Modal Header -->
            <div class="modal-header mb-0" style="height: 78px;">
                <h5 class="modal-title">발송대상</h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <div class="tb">
                    <!-- Table 1 -->
                    <table>
                        <colgroup>
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>

                        <!-- Table Header -->
                        <thead>
                            <tr>
                                <th scope="col">총 N명</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        <!-- Table Body -->
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>% 닉네임 (회원번호) %</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>% 닉네임 (회원번호) %</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>% 닉네임 (회원번호) %</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>% 닉네임 (회원번호) %</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>% 닉네임 (회원번호) %</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>% 닉네임 (회원번호) %</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>% 닉네임 (회원번호) %</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>% 닉네임 (회원번호) %</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>% 닉네임 (회원번호) %</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End of Table -->

            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn popup-solid-36">확인</button>
            </div>
        </div>
    </div>
</div>