{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}

        <!-- Start of Main Container-->
        <main>
            <section class="content-wrapper portal-page">

                <!-- Content Wrapper Title -->
                <div class="wrapper-title justify-content-between align-items-center">
                    <h2>FAQ</h2>

                    <!-- Breadcrumbs -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">포털</a></li>
                            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                        </ol>
                    </nav>
                    <!-- End of Breadcrumbs -->
                </div>
                <!-- End of Content Wrapper Title -->

                <div class="wrapper-sub-header justify-content-between">
                    <span class="title">FAQ 리스트</span>
                    <a class="btn solid-36" id="add-banner"
                        href="{{#if htmlWebpackPlugin.options.isProduction}}./{{else}}/pages/portal/{{/if}}portal-faq-lists-add.html">FAQ 등록</a>
                </div>

                <!-- Content Wrapper Body -->
                <div class="wrapper-body portal-lists-blocks">

                    <!-- Table -->
                    <div class="tb without-side-border">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="checkbox-button">
                                            <label for="check_01">
                                                <input type="checkbox" value="" id="check_01">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col">NO</th>
                                    <th scope="col">게시물 ID</th>
                                    <th scope="col">상태</th>
                                    <th scope="col">타입</th>
                                    <th scope="col">제목</th>
                                    <th scope="col">게시일자</th>
                                    <th scope="col">종료일자</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox-button">
                                            <label for="check_02">
                                                <input type="checkbox" value="" id="check_02">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>% 게시물 ID %</td>
                                    <td>
                                        <a class="button-link" href="#">게시중</a>
                                    </td>
                                    <td>공지게시판</td>
                                    <td>% 제목 %</td>
                                    <td>2020-04-23 00:00:00</td>
                                    <td>2020-04-23 00:00:00</td>
                                    <td>이름 (이메일)</td>
                                    <td>
                                        <a class="button-link" href="#">편집</a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End of Table -->

                    <!-- Body Footer -->
                    <div class="wrapper-body-footer">

                        {{!-- Footer Actions --}}
                        <div class="actions">

                            {{!-- Delete --}}
                            <div class="btn-group mr-2">
                                <button type="button" class="btn line-32 with icons icon-delete"></button>
                            </div>

                            {{!-- Dropdown --}}
                            <select class="dropdown-select show-tick line-40">
                                <option>필터</option>
                            </select>
                        </div>

                        <!-- Pagination -->
                        <ul class="pagination">
                            <li class="page-item icons icon-chevron-left-gray"><a href="#"></a></li>
                            <li class="page-item active"><a href="#">1</a></li>
                            <li class="page-item"><a href="#">2</a></li>
                            <li class="page-item"><a href="#">3</a></li>
                            <li class="page-item"><a href="#">4</a></li>
                            <li class="page-item"><a href="#">5</a></li>
                            <li class="page-item ellipsis"></li>
                            <li class="page-item"><a href="#">20</a></li>
                            <li class="page-item icons icon-chevron-right-gray"><a href="#"></a></li>
                        </ul>
                        <!-- End of Pagination -->

                    </div>
                    <!-- End of Body Footer -->

                </div>
                <!-- End of Content Wrapper Body -->

            </section>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>