/* ***** Banner ***** */
.banner .lqd-highlight-inner,
.banner .lqd-highlight-inner .lqd-highlight-brush-svg {
	height: 0.2em;
}

@media (min-width: 1200px) {
	.banner {
		background-attachment: fixed;
	}
}

@media (max-width: 1199px) {
	.banner {
		padding: 0 35px;
	}

	.banner .ld-fancy-heading h1 {
		font-size: 82px;
	}

	.banner .module-btn-circle {
		padding: 40px 15px 0 0;
	}
}

@media (max-width: 767px) {
	.banner {
		padding: 120px 10px 50px 10px;
	}

	.banner .row {
		min-height: 73vh;
	}

	.banner .ld-fancy-heading h1 {
		font-size: 13vw;
	}

	.banner .ld-fancy-heading p {
		font-size: 19px;
		line-height: 1.5em;
	}

	.banner .btn-lg {
		margin-bottom: 10px;
	}

	.banner h6.ld-fh-element {
		margin: 1em 6em 0 0;
	}

	.banner .module-btn-circle {
		font-size: 19px;
		margin-top: -30%;
		padding: 30px 0 0 0;
	}
}

/* ***** Contact ***** */
.contact .module-form {
	padding: 0 0 0 17.5%;
}

@media (max-width: 1199px) {
	.contact {
		padding: 0 35px 30px 35px;
	}

	.contact .module-title {
		padding: 40px 10px;
	}

	.contact .module-form {
		padding: 0 10px 0 0;
	}

	.contact .form-mini {
		padding: 35px;
		margin: 0;
	}
}

@media (max-width: 767px) {
	.contact {
		padding: 70px 10px 0 10px;
	}

	.contact .module-title {
		padding: 0 10px;
	}

	.contact .module-form {
		padding: 0 10px;
	}

	.contact .form-mini {
		margin: 30px 0 0;
		padding: 30px 20px;
	}
}

/* ***** Case Study ***** */
.case-study .iconbox:hover .iconbox-icon-container path {
	fill: #fff;
}

@media (max-width: 1199px) {
	.case-study {
		padding-top: 30px;
		padding-right: 20px;
		padding-bottom: 80px;
		padding-left: 20px;
	}
}

@media (max-width: 767px) {
	.case-study {
		padding: 65px 0;
	}

	.case-study .container-xl .row:first-child {
		padding-right: 0;
		padding-left: 0;
	}
}

@media (max-width: 575px) {
	.case-study .col-md-12:first-child {
		padding: 5px;
	}
}

/* ***** Thin Fixed BG ***** */
@media (min-width: 1200px) {
	.thin-fixed-bg {
		background-attachment: fixed;
	}
}

@media (max-width: 1199px) {
	.thin-fixed-bg {
		padding: 100px 35px;
	}
}

@media (max-width: 767px) {
	.thin-fixed-bg {
		padding: 100px 10px;
	}

	.thin-fixed-bg .col-md-12,
	.thin-fixed-bg .container-xl {
		padding: 0;
	}

	.thin-fixed-bg .ld-fancy-heading h2 {
		font-size: 11.5vw;
		line-height: 1.5em;
	}
}

/* ***** Clients ***** */
@media (max-width: 1199px) {
	.clients .carousel-items {
		margin-inline-start: -34px;
		margin-inline-end: -34px;
	}

	.clients .carousel-item {
		width: calc(100% / 4);
		padding-inline-start: 34px;
		padding-inline-end: 34px;
	}
}

@media (max-width: 767px) {
	.clients .carousel-items {
		margin-inline-start: -20px;
		margin-inline-end: -20px;
	}

	.clients .carousel-item {
		width: calc(100% / 3);
		padding-inline-start: 20px;
		padding-inline-end: 20px;
	}
}

/* ***** Consultation ***** */
.consultation .ld-flipbox-face {
	background-color: var(--lqd-color-secondary);
}

.consultation .ld-flipbox-front .ld-flipbox-inner {
	padding: 200px 30px 15px 30px;
}

.consultation .btn-hover-txt-liquid-y:hover,
.consultation .btn-hover-txt-liquid-y:focus {
	color: #fff;
}

@media (max-width: 1199px) {
	.consultation {
		padding: 70px 35px 30px 35px;
	}
}

@media (max-width: 767px) {
	.consultation {
		padding: 65px 10px;
	}

	.consultation .col-md-12:first-child {
		padding: 0;
	}

	.consultation .ld-flipbox-front .ld-flipbox-inner {
		padding: 40px 0 0 0;
	}
}

/* ***** Has Accordion ***** */
.has-accordion .accordion-title a {
	font-family: "Montserrat", Sans-serif;
	padding: 1.05em 1.5em 1.05em 1.5em;
}

@media (max-width: 1199px) {
	.has-accordion {
		padding: 20px 35px 0 35px;
	}

	.has-accordion .col-md-12:first-child {
		padding: 10px;
	}

	.has-accordion .accordion {
		margin-top: 40px;
	}
}

@media (max-width: 767px) {
	.has-accordion {
		padding: 0 10px;
	}

	.has-accordion .col-md-12:first-child {
		padding-bottom: 30px;
	}

	.has-accordion .accordion {
		margin-top: 50px;
	}
}

/* ***** What We Do ***** */
@media (max-width: 1199px) {
	.what-we-do {
		padding: 0 35px 0 38px;
	}

	.what-we-do .module-content {
		padding: 10px;
	}
}

@media (max-width: 767px) {
	.what-we-do {
		padding: 0 10px;
	}
}

/* ***** Testimonial ***** */
.testimonial .carousel-nav {
	top: 25px;
}

.testimonial .carousel-nav .flickity-button,
.testimonial .carousel-nav .flickity-button svg {
	fill: #FFFFFF;
	background-color: transparent;
}

.testimonial .carousel-nav .lqd-carousel-slides {
	color: #FFFFFF;
}

.testimonial .lqd-imggrp-single {
	top: -25px;
	left: -100px;
}

.carousel-dots-mobile .flickity-page-dots .dot {
	background-color: #FFFFFF;
}

.carousel-dots-mobile .flickity-page-dots .dot.is-selected {
	background-color: rgba(255, 255, 255, 0.14);
}

@media (max-width: 1199px) {
	.testimonial {
		padding: 70px 35px;
	}
}

@media (max-width: 767px) {
	.testimonial {
		padding: 70px 20px;
	}
}

@media (max-width: 1199px) {
	.blog {
		padding: 70px 35px 0 35px;
	}
}

@media (max-width: 567px) {
	.blog {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* ***** Footer ***** */
/* Module Top */
@media (max-width: 1199px) {
	.main-footer .module-top {
		padding: 50px 35px 0 35px;
	}

	.main-footer .module-bottom {
		padding: 20px 35px;
	}
}

@media (max-width: 767px) {
	.main-footer .module-top {
		padding: 20px 10px 0 10px;
	}

	.main-footer .module-top .module-contact {
		margin: 0;
	}

	.main-footer .module-list .mb-10:last-child {
		margin-bottom: 0;
	}

	.main-footer .module-bottom {
		padding: 10px;
	}
}