.what-we-do-page .btn-naked {
	--icon-font-size: 14px;
}
@media (max-width: 1199px) {
	.what-we-do-page {
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media (max-width: 767px) {
	.what-we-do-page {
		padding-right: 0;
		padding-left: 0;
	}
}