/* ***** Tab Items ***** */
.tab-items .lqd-tabs-style-3 .lqd-tabs-nav {
	--icon-size: 1em;
}
.tab-items .lqd-tabs-style-3 .lqd-tabs-nav li a:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 0;
	background-color: var(--lqd-color-secondary);
	transform: scaleX(0);
	transition: transform .3s;
}
.tab-items .lqd-tabs-style-3 .lqd-tabs-nav li a.active:after {
    transform: scaleX(1);
}
@media (max-width: 1199px){
	.tab-items {
		padding: 0 45px;
	}
	.tab-items .lqd-tabs-content{
		padding: 10px;
	}
}
@media (max-width: 767px){
	.tab-items {
		padding: 40px 15px 0 15px;
	}
}

/* ***** Image box ***** */
@media (max-width: 1199px){
	.image-box {
		padding-right: 35px;
		padding-left: 35px;
	}
	.image-box .module-col {
		padding-right: 10px;
		padding-left: 10px;
	}
}
@media (max-width: 767px){
	.image-box {
		padding: 0 10px 50px 10px;
	}
	.image-box .module-img {
		height: 312px;
	}
}

/* ***** Has Accordion ***** */
@media (max-width: 1199px){
	.has-accordion-page {
		padding-right: 35px;
		padding-left: 35px;
	}
	.has-accordion-page h2 {
		font-size: 36px;
	}
	.has-accordion-page .module-col {
		padding: 10px;
	}
}
@media (max-width: 767px){
	.has-accordion-page {
		padding: 70px 10px 0 10px;
	}
}

/* ***** Icon Box ***** */
.icon-box-page .iconbox {
	box-shadow: 0 25px 70px 0 rgba(0, 0, 0, 0.07);
}
.icon-box-page .iconbox h3 {
    display: flex;
}
@media (max-width: 1199px){
	.icon-box-page {
		padding-right: 35px;
		padding-left: 35px;
	}
}
@media (max-width: 767px){
	.icon-box-page {
		padding-right: 10px;
		padding-left: 10px;
	}
}

/* ***** Team ***** */
@media (max-width: 1199px){
	.team {
		padding: 0 25px 80px 25px;
	}
	.team .module-col {
		padding: 10px;
	}
}
@media (max-width: 767px){
	.team {
		padding: 65px 0;
	}
}

/* ***** Counters ***** */
.counters .container {
	--lqd-container-width-sm: 1024px;
	--lqd-container-width-md: 1024px;
}
@media (max-width: 767px){
	.counters {
		padding: 70px 0;
	}
}

/* ***** Partners ***** */
@media (max-width: 1199px){
	.partners {
		padding: 0 35px
	}
	.partners img {
		height: 400px;
	}
	.partners .module-contnet {
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media (max-width: 767px){
	.partners {
		padding: 0 10px;
	}
}