<ul class="tab-navigation">
    <li class="{{#if htmlWebpackPlugin.options.withdraw_policy_management}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/withdraw/withdraw-policy-management.html">
            출금 검토 정책
        </a>
    </li>
    <li class="{{#if htmlWebpackPlugin.options.withdraw_policy_history}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/withdraw/withdraw-policy-history.html">
            정책 변경 이력
        </a>
    </li>
</ul>