{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}

        <!-- Start of Main Container-->
        <main class="main-withdraw withdraw-account-management">
            <section class="content-wrapper">
                <!-- Content Wrapper Title -->
                <div class="wrapper-title">
                    <h2>계좌 관리</h2>

                    <nav class="ml-auto" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">출금</a></li>
                            <li class="breadcrumb-item active" aria-current="page">계좌 관리</li>
                        </ol>
                    </nav>
                </div>

                <!-- Content Wrapper Body -->
                <div class="wrapper-body">
                    <div class="wrapper-body-header">
                        <span class="title">타이틀</span>
                        <select class="dropdown-select show-tick line-32">
                            <option>필터</option>
                        </select>
                    </div>

                    <div class="tb overflow">
                        <table>
                            <colgroup>
                                <col width="5%" />
                                <col width="5%" />
                                <col width="9%" />
                                <col width="9%" />
                                <col width="9%" />
                                <col width="9%" />
                                <col width="9%" />
                                <col width="9%" />
                                <col width="9%" />
                                <col width="9%" />
                                <col width="9%" />
                                <col width="9%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="checkbox-button">
                                            <label for="check_01">
                                                <input type="checkbox" value="" id="check_01">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col">NO</th>
                                    <th scope="col">핫월렛No.</th>
                                    <th scope="col">상태</th>
                                    <th scope="col">계좌목적</th>
                                    <th scope="col">계좌주소</th>
                                    <th scope="col">잔액 (USDT)</th>
                                    <th scope="col">출금수량 (24h)</th>
                                    <th scope="col">한도 출금수량 (24h)</th>
                                    <th scope="col">출금건수 (24h)</th>
                                    <th scope="col">한도 출금건수 (24h)</th>
                                    <th scope="col">계좌관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox-button">
                                            <label for="check_02">
                                                <input type="checkbox" value="" id="check_02">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>% 핫월렛No %</td>
                                    <td>% TxID %</td>
                                    <td>% 계좌목적 %</td>
                                    <td>% 계좌주소 %</td>
                                    <td>% 잔액 %</td>
                                    <td>% 출금수량 %</td>
                                    <td>% 한도출금수량 %</td>
                                    <td>% 출금건수 %</td>
                                    <td>% 한도출금건수%</td>
                                    <td>
                                        <a class="color-primary txt underline">변경하기</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="wrapper-body-footer">
                        <div class="actions">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn line-32 with icons icon-delete"></button>
                            </div>
                            <select class="dropdown-select show-tick line-40">
                                <option>10개</option>
                            </select>
                        </div>
                        <ul class="pagination">
                            <li class="page-item icons icon-chevron-left-gray"><span class="" href="#"></span></li>
                            <li class="page-item active"><span class="" href="#">1</span></li>
                            <li class="page-item"><span class="" href="#">2</span></li>
                            <li class="page-item"><span class="" href="#">3</span></li>
                            <li class="page-item"><span class="" href="#">4</span></li>
                            <li class="page-item"><span class="" href="#">5</span></li>
                            <li class="page-item ellipsis"></li>
                            <li class="page-item"><span class="" href="#">20</span></li>
                            <li class="page-item icons icon-chevron-right-gray"><span class="" href="#"></span></li>
                        </ul>
                    </div>

                </div>
            </section>


            <div class="modal modal-xlarge with-component fade" tabindex="-1" role="dialog"
                id="withdraw_account_management_modal1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">출금 검토 상세 보기</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <div class="form-tb">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="70%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="label"><label for="">핫월렛 No.</label></td>
                                            <td>핫월렛 No. </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">계좌 주소</label></td>
                                            <td>0x ……………………… </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="70%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="label"><label for="">계좌 상태</label></td>
                                            <td>
                                                <div class="d-flex">
                                                    <div class="radio-button">
                                                        <label for="radio_1">
                                                            <input type="radio" value="" id="radio_1"
                                                                name="radio_button_group_1" checked>
                                                            <i class="radio"></i>
                                                            <span for="">정상</span>
                                                        </label>
                                                    </div>

                                                    <div class="radio-button ml-4">
                                                        <label for="radio_1">
                                                            <input type="radio" value="" id="radio_1"
                                                                name="radio_button_group_1">
                                                            <i class="radio"></i>
                                                            <span for="">정지</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">계좌 상태</label></td>
                                            <td>
                                                <div class="d-flex">
                                                    <div class="radio-button">
                                                        <label for="radio_1">
                                                            <input type="radio" value="" id="radio_1"
                                                                name="radio_button_group_2" checked>
                                                            <i class="radio"></i>
                                                            <span for="">공통</span>
                                                        </label>
                                                    </div>

                                                    <div class="radio-button ml-4">
                                                        <label for="radio_1">
                                                            <input type="radio" value="" id="radio_1"
                                                                name="radio_button_group_2">
                                                            <i class="radio"></i>
                                                            <span for="">유저 출금 전용</span>
                                                        </label>
                                                    </div>

                                                    <div class="radio-button ml-4">
                                                        <label for="radio_1">
                                                            <input type="radio" value="" id="radio_1"
                                                                name="radio_button_group_2">
                                                            <i class="radio"></i>
                                                            <span for="">입점사 출금 전용</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="30%" />
                                        <col width="40%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="label"><label for="">계좌한도 출금수량 (24h)</label></td>
                                            <td>
                                                <div class="input-container" data-target="#input-basic">
                                                    <input class="input-field" id="input-basic" type="text">
                                                </div>
                                            </td>
                                            <td>USDT</td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">계좌한도 출금건수 (24h)</label></td>
                                            <td>
                                                <div class="input-container" data-target="#input-basic">
                                                    <input class="input-field" id="input-basic" type="text">
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <span class="fs-6 color-gray">출금 한도 초과시 해당 계좌는 자동 정지됩니다.</span>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal modal-small with-title fade" tabindex="-1" role="dialog"
                id="withdraw_account_management_modal2">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">핫월렛 설정 변경 확인</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>핫월렛 설정을 변경하겠습니까?</p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal modal-small with-title fade" tabindex="-1" role="dialog"
                id="withdraw_account_management_modal3">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">핫월렛 설정 변경 완료</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>핫월렛 설정이 변경되었습니다.</p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-triggers">
                <!-- This is sample button to show modals -->
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_account_management_modal1">Modal 1</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_account_management_modal2">Modal 2</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_account_management_modal3">Modal 3</button>
            </div>

        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>