{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}

        <!-- Start of Main Container-->
        <main class="main-withdraw withdraw-failures">
            <section class="content-wrapper">
                <!-- Content Wrapper Title -->
                <div class="wrapper-title">
                    <h2>게임현황</h2>

                    <nav class="ml-auto" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">출금</a></li>
                            <li class="breadcrumb-item active" aria-current="page">출금 실패</li>
                        </ol>
                    </nav>
                </div>

                <!-- Content Wrapper Body -->
                <div class="wrapper-body">
                    <div class="wrapper-body-header">
                        <span class="title">타이틀</span>
                        <select class="dropdown-select show-tick line-32">
                            <option>필터</option>
                        </select>
                    </div>

                    <div class="tb overflow">
                        <table>
                            <colgroup>
                                <col width="5%" />
                                <col width="5%" />
                                <col width="12%" />
                                <col width="12%" />
                                <col width="12%" />
                                <col width="12%" />
                                <col width="12%" />
                                <col width="12%" />
                                <col width="18%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="checkbox-button">
                                            <label for="check_01">
                                                <input type="checkbox" value="" id="check_01">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col">NO</th>
                                    <th scope="col">상태</th>
                                    <th scope="col">거래일자</th>
                                    <th scope="col">출금 요청자</th>
                                    <th scope="col">출금 금액</th>
                                    <th scope="col">상세정보</th>
                                    <th scope="col">실패사유</th>
                                    <th scope="col">담당자 처리하기</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox-button">
                                            <label for="check_02">
                                                <input type="checkbox" value="" id="check_02">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>% 상태 %</td>
                                    <td>2020-05-19 00:00:00</td>
                                    <td>% 출금요청자 %</td>
                                    <td>% 출금금액 %</td>
                                    <td>
                                        <a class="color-primary txt underline">상세보기</a>
                                    </td>
                                    <td>
                                        <a class="color-primary txt underline">보기</a>
                                    </td>
                                    <td>
                                        <a class="color-primary txt underline">재전송시도</a>
                                        <a class="color-primary ml-2 txt underline">Gas Fee 변경전송</a>
                                        <a class="color-red  ml-2 txt underline">출금취소</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="wrapper-body-footer">
                        <div class="actions">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn line-32 with icons icon-delete"></button>
                            </div>
                            <select class="dropdown-select show-tick line-40">
                                <option>10개</option>
                            </select>
                        </div>
                        <ul class="pagination">
                            <li class="page-item icons icon-chevron-left-gray"><span class="" href="#"></span></li>
                            <li class="page-item active"><span class="" href="#">1</span></li>
                            <li class="page-item"><span class="" href="#">2</span></li>
                            <li class="page-item"><span class="" href="#">3</span></li>
                            <li class="page-item"><span class="" href="#">4</span></li>
                            <li class="page-item"><span class="" href="#">5</span></li>
                            <li class="page-item ellipsis"></li>
                            <li class="page-item"><span class="" href="#">20</span></li>
                            <li class="page-item icons icon-chevron-right-gray"><span class="" href="#"></span></li>
                        </ul>
                    </div>

                </div>
            </section>

            <div class="modal modal-large with-component fade" tabindex="-1" role="dialog"
                id="withdraw_failures_modal1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">USDT (ERC20) 재전송 시도</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>다음 출금 요청건에 대해 USDT (ERC20) 전송을 다시 시도하겠습니까?</p>

                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="70%" />
                                    </colgroup>
                                    <tbody>

                                        <tr>
                                            <td class="label"><label for="">TxID</label></td>
                                            <td>
                                                % TxID %
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="label"><label for="">출금 요청자</label></td>
                                            <td>
                                                % 출금요청자 %
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="label"><label for="">출금 요청 금액</label></td>
                                            <td>
                                                00.00 USDT
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="label"><label for="">전송 실패 사유</label></td>
                                            <td>
                                                핫월렛 ETH 잔액부족
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="50%" />
                                        <col width="20%" />
                                    </colgroup>
                                    <tbody>

                                        <tr>
                                            <td class="label"><label for="">핫월렛 상태</label></td>
                                            <td> 핫월렛 No. xx </td>
                                            <td>정상</td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">USDT 잔액</label></td>
                                            <td> 10,000.00 USDT </td>
                                            <td>정상</td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">Gas fee</label></td>
                                            <td> 0.000000123 ETH</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">ETH 잔액</label></td>
                                            <td> 10.245000000 ETH </td>
                                            <td>정상</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-xlarge with-component fade" tabindex="-1" role="dialog"
                id="withdraw_failures_modal2">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">출금 거래 상세 정보</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">

                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="20%" />
                                        <col width="30%" />
                                        <col width="20%" />
                                        <col width="30%" />
                                    </colgroup>
                                    <tbody>

                                        <tr>
                                            <td class="label"><label for="">출금 진행 상태</label></td>
                                            <td>
                                                핫월렛 출금전
                                            </td>
                                            <td class="label"><label for="">TxID</label></td>
                                            <td>
                                                % TxID %
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">거래 생성 일자</label></td>
                                            <td>
                                                yyyy-mm-dd hh:mm:ss
                                            </td>
                                            <td class="label"><label for="">거래 종결 일자</label></td>
                                            <td>
                                                yyyy-mm-dd hh:mm:ss
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">출금 요청 일자</label></td>
                                            <td>
                                                유저 또는 입점사이름(ID)
                                            </td>
                                            <td class="label"><label for="">출금 요청 금액</label></td>
                                            <td>
                                                00.00 USDT
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="20%" />
                                        <col width="80%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="label"><label for="">핫월렛 No</label></td>
                                            <td>
                                                123
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="20%" />
                                        <col width="30%" />
                                        <col width="20%" />
                                        <col width="30%" />
                                    </colgroup>
                                    <tbody>

                                        <tr>
                                            <td class="label"><label for="">체인질리 거래ID</label></td>
                                            <td>
                                                xxxxxx
                                            </td>
                                            <td class="label"><label for="">체인질리 거래상태</label></td>
                                            <td>
                                                Waiting
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">From 화폐</label></td>
                                            <td>
                                                USDT (ERC20)
                                            </td>
                                            <td class="label"><label for="">From 금액</label></td>
                                            <td>
                                                00.00 USDT (ERC20)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">From_TxHash</label></td>
                                            <td>
                                                cccccc
                                            </td>
                                            <td class="label"><label for="">To 화폐</label></td>
                                            <td>
                                                BTC
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">To 금액</label></td>
                                            <td>
                                                00.000000 BTC
                                            </td>
                                            <td class="label"><label for="">To 주소</label></td>
                                            <td>
                                                dddddd
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">To_TxHash</label></td>
                                            <td>
                                                eeeeee
                                            </td>
                                            <td class="label"><label for="">Fee_가스피</label></td>
                                            <td>
                                                00.00000000 ETH
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">Fee_체인질리</label></td>
                                            <td>
                                                00.00000000 USDT (ERC20)
                                            </td>
                                            <td class="label"><label for="">Fee_플랫폼</label></td>
                                            <td>
                                                00.00000000 USDT (ERC20)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-small with-title fade" tabindex="-1" role="dialog" id="withdraw_failures_modal3">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">출금 실패 사유</h5>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>
                                핫월렛 USDT(ERC20) 잔액 부족 <br>
                                %실패사유(사유 있는 만큼 노출)%
                            </p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-small with-title fade" tabindex="-1" role="dialog" id="withdraw_failures_modal4">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">USDT(ERC20) 재전송 확인</h5>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>
                                해당 출금건에 대해 USDT(ERC20) 재전송을 실행하겠습니까? <br>
                                (Gas fee 변경됨)
                            </p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-small with-title fade" tabindex="-1" role="dialog" id="withdraw_failures_modal5">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">USDT(ERC20) 재전송 완료</h5>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>
                                출금 처리를 위해 USDT(ERC20) 재전송이 진행됩니다. <br>
                                해당 거래의 실제 전송 현황을 확인해주세요.
                            </p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-large with-component fade" tabindex="-1" role="dialog"
                id="withdraw_failures_modal6">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">USDT (ERC20) Gas fee 변경 후 재전송</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>
                                다음 출금 요청건에 대해 Gas fee 변경 후 USDT(ERC20) 전송을 <br>
                                다시 시도하겠습니까?
                            </p>
                            <p class="fs-6 color-gray mt-3">
                                변경된 Gas fee는 이 출금건에만 적용됩니다. <br>
                                전체 적용을 위해서는 ‘관리도구’에서 Gas fee를 변경해주세요.
                            </p>

                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="50%" />
                                        <col width="20%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="label"><label for="">Gas limit</label></td>
                                            <td>21000 </td>
                                            <td>gas</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="50%" />
                                        <col width="20%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="label"><label for="">Gas price (현재)</label></td>
                                            <td>10</td>
                                            <td>gwei</td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">Gas price (변경):</label></td>
                                            <td>
                                                <div class="input-container" data-target="#input-basic">
                                                    <input class="input-field" id="input-basic" type="text"
                                                        placeholder="변경할 Gas price">
                                                </div>
                                            </td>
                                            <td>gwei</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="50%" />
                                        <col width="20%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="label"><label for="">Gas price (현재)</label></td>
                                            <td>0.xxxxxxxx</td>
                                            <td>ETH</td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label for="">Gas price (변경):</label></td>
                                            <td>0.yyyyyyyy</td>
                                            <td>ETH</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-small with-title fade" tabindex="-1" role="dialog" id="withdraw_failures_modal7">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">USDT(ERC20) 출금취소 확인</h5>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>
                                해당 출금건에 대해 USDT(ERC20) 재전송을 실행하겠습니까?
                            </p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-small with-title fade" tabindex="-1" role="dialog" id="withdraw_failures_modal8">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">USDT(ERC20) 출금취소 완료</h5>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>
                                해당 출금 요청건이 출금 취소 처리되었습니다.
                            </p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-large with-component fade" tabindex="-1" role="dialog"
                id="withdraw_failures_modal9">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">USDT(ERC20) 출금 취소</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>다음 출금 요청건에 대해 출금 취소 처리하겠습니까?</p>

                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="70%" />
                                    </colgroup>
                                    <tbody>

                                        <tr>
                                            <td class="label"><label for="">TxID</label></td>
                                            <td>
                                                % TxID %
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="label"><label for="">출금 요청자</label></td>
                                            <td>
                                                % 출금요청자 %
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="label"><label for="">출금 요청 금액</label></td>
                                            <td>
                                                00.00 USDT
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="label"><label for="">전송 실패 사유</label></td>
                                            <td>
                                                핫월렛 ETH 잔액부족
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-triggers">
                <!-- This is sample button to show modals -->
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_failures_modal1">Modal 1</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_failures_modal2">Modal 2</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_failures_modal3">Modal 3</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_failures_modal4">Modal 4</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_failures_modal5">Modal 5</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_failures_modal6">Modal 6</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_failures_modal7">Modal 7</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_failures_modal8">Modal 8</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_failures_modal9">Modal 9</button>
            </div>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>