<!-- Start of Menu -->
<nav class="navbar menu" id="menu">

    <div class="menu-wrapper">

        <!-- Mene Header -->
        <div class="menu-header">
            <span class="info small-text-1">jungkookzzangzznagman@email.com</span>
            <button type="button" class="btn logout-32">로그아웃</button>
        </div>

        <!-- Body -->
        <div class="menu-body">

            <div class="menu-lists">

                {{!-- Column Title --}}
                <div class="menu-list-title">
                    <h1>
                        <i class="icons icon-apps on-left"></i>
                        전체메뉴
                    </h1>
                </div>
                {{!-- End of Column Title --}}

                {{!-- Column 1 --}}
                <div class="menu-list-content">

                    <div class="menu-item">
                        <p class="text-white">백오피스</p>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">계정관리</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">레벨관리</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">입점사관리</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">게임관리</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">카테고리관리</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">변경이력</a>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-item">
                        <p class="text-white">회원</p>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">회원조회</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">관리이력</a>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-item">
                        <p class="text-white">계좌</p>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">포털 계좌</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">게임 계좌</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">포털 관리자 지급</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">게임 관리자 지급</a>
                            </li>
                        </ul>
                    </div>

                </div>
                {{!-- End of Column 1 --}}

                {{!-- Column 2 --}}
                <div class="menu-list-content">

                    <div class="menu-item">
                        <p class="text-white">포털</p>
                        <ul class="nav">
                            <li class="nav-item">
                                <p class="nav-link">배너</p>
                                <ol>
                                    <li class="nav-link">
                                        <a href="#">메인 배너</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">서브 배너</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">피쳐드</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">럭키데이 픽</a>
                                    </li>
                                </ol>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">공지</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link">메시지 발송</p>
                                <ol>
                                    <li class="nav-link">
                                        <a href="#">알림 메시지</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">채팅 메시지</a>
                                    </li>
                                </ol>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">쿠폰</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">점검</a>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-item">
                        <p class="text-white">게임</p>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">게임 현황</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">점검</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">출시서비스 설정</a>
                            </li>
                        </ul>
                    </div>

                </div>
                {{!-- End of Column 2 --}}

                {{!-- Column 3 --}}
                <div class="menu-list-content">

                    <div class="menu-item">
                        <p class="text-white">정산</p>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">포털 정산</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">입점사 정산</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">정산 데이터 관리</a>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-item">
                        <p class="text-white">이벤트</p>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">VIP</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Referral</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Cashback</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Weekly Race</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Lucky Pot</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Event</a>
                            </li>
                        </ul>
                    </div>

                </div>
                {{!-- End of Column 3 --}}

                {{!-- Column 4 --}}
                <div class="menu-list-content">

                    <div class="menu-item">
                        <p class="text-white">출금</p>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">출금 실패</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">검토 대기</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">출금 내역</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">검토 내역</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">계좌 관리</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">정채 관리</a>
                            </li>
                        </ul>
                    </div>

                </div>
                {{!-- End of Column 4 --}}

                {{!-- Column 5 --}}
                <div class="menu-list-content">

                    <div class="menu-item">
                        <p class="text-white">통계</p>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">요약 통계</a>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link">실시간 통계</p>
                                <ol>
                                    <li class="nav-link">
                                        <a href="#">포털 접속자 수</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">총 통화량</a>
                                    </li>
                                </ol>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link">이용자 통계</p>
                                <ol>
                                    <li class="nav-link">
                                        <a href="#">이용자별 통계</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">이용자 리텐션</a>
                                    </li>
                                </ol>
                            </li>

                            <li class="nav-item">
                                <p class="nav-link">USDT 통계</p>
                                <ol>
                                    <li class="nav-link">
                                        <a href="#">통화량</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">입/출금</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">지급</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">회수</a>
                                    </li>
                                </ol>
                            </li>

                            <li class="nav-item">
                                <p class="nav-link">게임 통계</p>
                                <ol>
                                    <li class="nav-link">
                                        <a href="#">게임 전체</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="#">게임 별</a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </div>

                </div>
                {{!-- End of Column 5 --}}

            </div>

        </div>

    </div>

</nav>
<!-- End of Menu -->