/*-----------------------------------------
            common
-------------------------------------------*/

.main .link-pos { position:absolute; left:0; top:-100px; }

/*-----------------------------------------
            contents
-------------------------------------------*/
.main .vision { position: relative; min-width:1264px; height:1080px; margin:0 auto; overflow:hidden;  }
.main .wrap-vision { position:relative; width:1264px; margin:0 auto; padding:150px 0 200px 0; }
.main .wrap-vision .link-pos { top:-460px}
.main .vision .bg { position:absolute; left:0; top:0; width:100%; min-width:1264px; height:1080px; background:url('../img/main/background2.jpg') center no-repeat; }
.main .vision p { position:relative; width:1000px; padding-right:264px; margin:200px auto 0 auto;  line-height: 1.25; font-weight: bold; font-size: 80px; color: #fff;}
.main .vision dl { position:relative; width:1264px;margin:0px auto 0px auto; font-size: 32px; line-height: 1.63; color: #fff;}
.main .vision dt { font-size:40px; font-weight:bold; line-height:0.9; margin-bottom:29px; }
.main .vision dd { font-size: 18px; line-height: 1.75; opacity: 0.9; margin-bottom:27px; font-weight:normal; }
.main .vision .bg-img { position:absolute; left:578px; top:-250px; display:block; content:''; width:958px; height:958px; background:url('../img/main/img_bg.png') no-repeat; z-index:2; }

.main .meta { position: relative;  min-width:1264px;  margin:0 auto; }
.main .meta .inner { position:relative; width:1264px; margin:0 auto; padding:150px 0 150px 0; }
.main .meta h2 { margin-bottom:0px; font-size: 48px; font-weight: bold; text-align:center; line-height: 0.75; color: #222; }
.main .meta img { width:100%; height:auto;}
.main .meta p { width:800px; margin-bottom:30px; margin-left:250px; font-size: 18px; line-height: 1.78; color: #666;  opacity: 0.9; text-align: left;}
.main .meta p a,
.main .meta p a:hover {color:#2140fe;}
.main .meta p a:hover:before  { background:#2140fe}

/*-----------------------------------------
            mobile
-------------------------------------------*/
@media all and (max-width:1023px){

    .main {overflow-x:hidden;}

    .main .link-pos { position:absolute; left:0; top:-53px; }

    .main .vision { width:100%; min-width:auto; max-width:auto; height:auto; text-align:left; }
    .main .wrap-vision .link-pos { top:-160px}
    .main .vision .bg { width:100%; min-width:auto; height:100%; background:url('../img/main/background2_m.png') center no-repeat; background-size: cover;}
    .main .vision p { width:300px; padding:0 0 0 30px; margin:200px 0 0 0;  line-height: 1.41;  font-size: 34px; }
    .main .vision dl { width:auto; padding:0 10px 0px 30px; font-size: 28px; line-height: 1.63; }
    .main .vision dt { font-size:28px;  line-height:1.41; margin-bottom:10px; }
    .main .vision dd { font-size: 16px; line-height: 1.57; opacity: 0.9;}
    .main .vision .bg-img { display: none; }

    .main .meta { position: relative;  min-width:auto; max-width:auto;  margin:0 auto; background:#fff; }
    .main .meta .inner { position:relative; width:86%; margin:0 auto;  box-sizing:border-box; padding:50px 0 50px 0; }
    .main .meta h2 { margin-bottom:17px; font-size: 28px; line-height: 1.29;}
    .main .meta img { width:100%; height:auto;}
    .main .meta p { clear:both; width:auto; margin:0 0 20px 0;  font-size: 14px; line-height: 1.78; }
    .main .meta p a,
    .main .meta p a:hover {color:#2140fe;}
    .main .meta p a:hover:before  { background:#2140fe;}

}

/*   이미지 반응형 조정 */

@media (max-width: 992px) {
    #image_large{
        display: none;
    }
    #image_small{   
        display: block;
    }
}

@media (min-width: 992px) {   
    #image_large{
        display: block;
     }
    #image_small{       
        display: none;
    }   
}
