* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 50px 30px;
  color: #fff;
  background-color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(
    to right,
    #00FFCC,
    #8f68ff,
    #487bff,
    #8f68ff,
    #00FFCC
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}