{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}

        <!-- Start of Main Container-->
        <main class="main-calculate calculate-portal-review">
            <section class="content-wrapper">
                <!-- Content Wrapper Title -->
                <div class="wrapper-title">
                    <h2>정산 검토</h2>

                    <nav class="ml-auto" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">정산</a></li>
                            <li class="breadcrumb-item active" aria-current="page">포털 정산</li>
                        </ol>
                    </nav>
                </div>

                <div class="wrapper-actions">
                    {{> tabs-portal-settlement}}
                </div>

                <div class="wrapper-body mt-4">
                    <div class="wrapper-body-header">
                        <span class="title">정산 대상 리스트 (2020년 5월)</span>
                        <select class="dropdown-select show-tick line-32">
                            <option>필터</option>
                        </select>
                    </div>

                    <div class="tb overflow container-border mt-2">
                        <table>
                            <colgroup>
                                <col width="5%" />
                                <col width="5%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="checkbox-button">
                                            <label for="check_01">
                                                <input type="checkbox" value="" id="check_01">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col">NO</th>
                                    <th scope="col">입점사명 (ID)</th>
                                    <th scope="col">정산수익(포털)</th>
                                    <th scope="col">정산수익(입점사)</th>
                                    <th scope="col">포털 검토일자</th>
                                    <th scope="col">입점사 검토일자</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox-button">
                                            <label for="check_01">
                                                <input type="checkbox" value="" id="check_01">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>% 입점사명(ID) %</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td>
                                        <a href="" class="color-red">검토하기</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox-button">
                                            <label for="check_01">
                                                <input type="checkbox" value="" id="check_01">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>% 입점사명(ID) %</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td>
                                        <a href="" class="color-primary">수정하기</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox-button">
                                            <label for="check_01">
                                                <input type="checkbox" value="" id="check_01">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>% 입점사명(ID) %</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td>검토완료 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="wrapper-body-footer">
                        <div class="actions">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn line-32 with icons icon-delete"></button>
                            </div>
                            <select class="dropdown-select show-tick line-40">
                                <option>필터</option>
                            </select>
                        </div>
                        <ul class="pagination">
                            <li class="page-item icons icon-chevron-left-gray"><span class="" href="#"></span></li>
                            <li class="page-item active"><span class="" href="#">1</span></li>
                            <li class="page-item"><span class="" href="#">2</span></li>
                            <li class="page-item"><span class="" href="#">3</span></li>
                            <li class="page-item"><span class="" href="#">4</span></li>
                            <li class="page-item"><span class="" href="#">5</span></li>
                            <li class="page-item ellipsis"></li>
                            <li class="page-item"><span class="" href="#">20</span></li>
                            <li class="page-item icons icon-chevron-right-gray"><span class="" href="#"></span></li>
                        </ul>
                    </div>

                </div>
            </section>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>