{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}

        <!-- Start of Main Container-->
        <main class="main-calculate calculate-data-setting">
            <section class="content-wrapper">
                <!-- Content Wrapper Title -->
                <div class="wrapper-title">
                    <h2>정산 데이터 관리</h2>

                    <nav class="ml-auto" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">정산</a></li>
                            <li class="breadcrumb-item active" aria-current="page">포털 정산</li>
                        </ol>
                    </nav>
                </div>

                <div class="wrapper-actions">
                    {{>tabs-data}}


                    <button type="button" class="btn solid-32 btn-register">
                        <a href="">
                            신규 등록
                        </a>
                    </button>
                </div>

                <!-- Content Wrapper Body -->
                <div class="wrapper-body">
                    <div class="wrapper-body-header">
                        <span class="title">타이틀</span>
                        <select class="dropdown-select show-tick line-32">
                            <option>필터</option>
                        </select>
                    </div>

                    <div class="tb overflow">
                        <table>
                            <colgroup>
                                <col width="5%" />
                                <col width="5%" />
                                <col width="12.8%" />
                                <col width="12.8%" />
                                <col width="12.8%" />
                                <col width="12.8%" />
                                <col width="12.8%" />
                                <col width="12.8%" />
                                <col width="12.8%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="checkbox-button">
                                            <label for="check_01">
                                                <input type="checkbox" value="" id="check_01">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col">NO</th>
                                    <th scope="col">입점사명 (ID)</th>
                                    <th scope="col">약정 수익배분율</th>
                                    <th scope="col">약정 비용분담구조</th>
                                    <th scope="col">운영담보금 한도</th>
                                    <th scope="col">최초 등록 일자</th>
                                    <th scope="col">최근 변경 일자</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox-button">
                                            <label for="check_02">
                                                <input type="checkbox" value="" id="check_02">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>% 입점사명(ID) %</td>
                                    <td>60.00%</td>
                                    <td>(1) 분담</td>
                                    <td>1,000.00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td><a href="">변경하기</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox-button">
                                            <label for="check_02">
                                                <input type="checkbox" value="" id="check_02">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>% 입점사명(ID) %</td>
                                    <td>60.00%</td>
                                    <td>(1) 분담</td>
                                    <td>1,000.00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td>2020-05-27 00:00:00</td>
                                    <td><a href="">변경하기</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="wrapper-body-footer">
                        <div class="actions">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn line-32 with icons icon-delete"></button>
                            </div>
                            <select class="dropdown-select show-tick line-40">
                                <option>10개</option>
                            </select>
                        </div>
                        <ul class="pagination">
                            <li class="page-item icons icon-chevron-left-gray"><span class="" href="#"></span></li>
                            <li class="page-item active"><span class="" href="#">1</span></li>
                            <li class="page-item"><span class="" href="#">2</span></li>
                            <li class="page-item"><span class="" href="#">3</span></li>
                            <li class="page-item"><span class="" href="#">4</span></li>
                            <li class="page-item"><span class="" href="#">5</span></li>
                            <li class="page-item ellipsis"></li>
                            <li class="page-item"><span class="" href="#">20</span></li>
                            <li class="page-item icons icon-chevron-right-gray"><span class="" href="#"></span></li>
                        </ul>
                    </div>

                </div>
            </section>

            <div class="modal modal-large with-component fade calculate-data-setting-modal" tabindex="-1" role="dialog"
                id="withdraw_data_setting_modal1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">정산 데이터 등록</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <div class="form-tb">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="70%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="label"><label for="">TxID</label></td>
                                            <td>
                                                <div class="search-input-container" data-target="#search-input">
                                                    <button class="search-field-clear"
                                                        data-target="#search-input"></button>
                                                    <input class="search-field" id="search-input" placeholder="입점사 검색">
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-tb mt-4">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="70%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="label"><label for="">검토 일자</label></td>
                                            <td>
                                                <div class="input-container" data-target="#input-basic">
                                                    <input class="input-field" id="input-basic" type="text"
                                                        placeholder="0.00%">
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="label"><label for="">검토 결과</label></td>
                                            <td>
                                                <select class="dropdown-select show-tick line-32">
                                                    <option>(0) 분담하지 않음</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="label"><label for="">검토자</label></td>
                                            <td>
                                                <div class="input-container" data-target="#input-basic">
                                                    <input class="input-field" id="input-basic" type="text"
                                                        placeholder="0.00">
                                                    <div class="input-unit">USDT</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-medium with-component fade" id="withdraw_data_setting_modal2" tabindex="-1"
                role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title fs-8">입점사 조회</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <div class="search-input-container wdtper-100" data-target="#search-input">
                                <button class="search-field-clear" data-target="#search-input"></button>
                                <input class="search-field" id="search-input" placeholder="% 입점사명 %">
                            </div>

                            <h5 class="mt-4">최근 조회한 입점사</h5>

                            <ul class="list-mini-with-buttons">
                                <li>
                                    <span>% 입점사명 %</span>
                                    <button type="button" class="btn solid-32">선택</button>
                                </li>
                                <li>
                                    <span>지구게임즈</span>
                                    <button type="button" class="btn solid-32">선택</button>
                                </li>
                                <li>
                                    <span>우주게임즈</span>
                                    <button type="button" class="btn solid-32">선택</button>
                                </li>
                                <li>
                                    <span>태양게임즈</span>
                                    <button type="button" class="btn solid-32">선택</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-triggers">
                <!-- This is sample button to show modals -->
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_data_setting_modal1">Modal 1</button>
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#withdraw_data_setting_modal2">Modal 2</button>
            </div>

        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>