<ul class="tab-navigation">
    <li class="{{#if htmlWebpackPlugin.options.calculate_portal_summary}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/calculate/calculate-portal-summary.html">
            현황 조회
        </a>
    </li>
    <li class="{{#if htmlWebpackPlugin.options.calculate_portal_review}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/calculate/calculate-portal-review.html">
            정산 검토
        </a>
    </li>
    <li class="{{#if htmlWebpackPlugin.options.calculate_portal_result}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/calculate/calculate-portal-result.html">
            정산 결과
        </a>
    </li>
</ul>