{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/guide/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/guide/lnb }}

        <!-- Start of Main Container-->
        <main id="colors">

            <!-- Primary Colors -->
            <section class="content-wrapper">
                <!-- Content Wrapper Title -->
                <div class="wrapper-title">
                    <h2>Primary Colors</h2>
                </div>

                <!-- Content Wrapper Body -->
                <div class="wrapper-body">
                    <div class="box-content">
                        <span class="box-primary-color-1">
                            #color
                        </span>
                        <span class="box-primary-color-2">
                            #color
                        </span>
                        <span class="box-primary-color-3">
                            #color
                        </span>
                        <span class="box-primary-color-4">
                            #color
                        </span>
                        <span class="box-primary-color-5">
                            #color
                        </span>
                        <span class="box-primary-color-6">
                            #color
                        </span>
                    </div>
                </div>
            </section>

            <!-- Text Colors -->
            <section class="content-wrapper">
                <!-- Content Wrapper Title -->
                <div class="wrapper-title">
                    <h2>Text Colors</h2>
                </div>

                <!-- Content Wrapper Body -->
                <div class="wrapper-body">
                    <div class="box-content">
                        <span class="box-text-color-1">
                            #color
                        </span>
                        <span class="box-text-color-2">
                            #color
                        </span>
                        <span class="box-text-color-3">
                            #color
                        </span>
                        <span class="box-text-color-4">
                            #color
                        </span>
                        <span class="box-text-color-5">
                            #color
                        </span>
                        <span class="box-text-color-6">
                            #color
                        </span>
                        <span class="box-text-color-7">
                            #color
                        </span>
                        <span class="box-text-color-8">
                            #color
                        </span>
                    </div>
                </div>
            </section>

            <!-- Table Borders and Background -->
            <section class="content-wrapper">

                <div class="row">
                    <!-- Table Border Line -->
                    <div class="col-lg-6">
                        <!-- Content Wrapper Title -->
                        <div class="wrapper-title">
                            <h2>Table Border Lines</h2>
                        </div>

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body">
                            <div class="box-content">
                                <span class="box-border-line-color-1">
                                    #color
                                </span>
                                <span class="box-border-line-color-2">
                                    #color
                                </span>
                                <span class="box-border-line-color-3">
                                    #color
                                </span>
                                <span class="box-border-line-color-4">
                                    #color
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Table Background -->
                    <div class="col-lg-6">
                        <!-- Content Wrapper Title -->
                        <div class="wrapper-title">
                            <h2>Table Background</h2>
                        </div>

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body">
                            <div class="box-content">
                                <span class="box-table-bg-color-1">
                                    #color
                                </span>
                                <span class="box-table-bg-color-2">
                                    #color
                                </span>
                                <span class="box-table-bg-color-3">
                                    #color
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- States -->
            <section class="content-wrapper">
                <!-- Content Wrapper Title -->
                <div class="wrapper-title">
                    <h2>States Color</h2>
                </div>

                <!-- Content Wrapper Body -->
                <div class="wrapper-body">
                    <div class="box-content">
                        <span class="box-state-color-1">
                            #color
                        </span>
                        <span class="box-state-color-2">
                            #color
                        </span>
                        <span class="box-state-color-3">
                            #color
                        </span>
                        <span class="box-state-color-4">
                            #color
                        </span>
                    </div>
                </div>
            </section>

            <!-- Buttons -->
            <section class="content-wrapper">

                <div class="row mb-3">
                    <div class="col-lg-6">
                        <!-- Content Wrapper Title -->
                        <div class="wrapper-title">
                            <h2>Lined Button Color</h2>
                        </div>

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body">
                            <div class="box-content">
                                <span class="box-button-line-color-1">
                                    #color
                                </span>
                                <span class="box-button-line-color-2">
                                    #color
                                </span>
                                <span class="box-button-line-color-3">
                                    #color
                                </span>
                                <span class="box-button-line-color-4">
                                    #color
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Content Wrapper Title -->
                        <div class="wrapper-title">
                            <h2>Pointed Button Color</h2>
                        </div>

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body">
                            <div class="box-content">
                                <span class="box-button-point-1">
                                    #color
                                </span>
                                <span class="box-button-point-2">
                                    #color
                                </span>
                                <span class="box-button-point-3">
                                    #color
                                </span>
                                <span class="box-button-point-4">
                                    #color
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-6">
                        <!-- Content Wrapper Title -->
                        <div class="wrapper-title">
                            <h2>Buttons Red Color</h2>
                        </div>

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body">
                            <div class="box-content">
                                <span class="box-button-red-color-1">
                                    #color
                                </span>
                                <span class="box-button-red-color-2">
                                    #color
                                </span>
                                <span class="box-button-red-color-3">
                                    #color
                                </span>
                                <span class="box-button-red-color-4">
                                    #color
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Content Wrapper Title -->
                        <div class="wrapper-title">
                            <h2>Buttons Green Color</h2>
                        </div>

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body">
                            <div class="box-content">
                                <span class="box-button-green-color-1">
                                    #color
                                </span>
                                <span class="box-button-green-color-2">
                                    #color
                                </span>
                                <span class="box-button-green-color-3">
                                    #color
                                </span>
                                <span class="box-button-green-color-4">
                                    #color
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-6">
                        <!-- Content Wrapper Title -->
                        <div class="wrapper-title">
                            <h2>Buttons Transparent Color</h2>
                        </div>

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body">
                            <div class="box-content">
                                <span class="box-button-transparent-color-1">
                                    #color
                                </span>
                                <span class="box-button-transparent-color-2">
                                    #color
                                </span>
                                <span class="box-button-transparent-color-3">
                                    #color
                                </span>
                                <span class="box-button-transparent-color-4">
                                    #color
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Content Wrapper Title -->
                        <div class="wrapper-title">
                            <h2>Buttons Gray Color</h2>
                        </div>

                        <!-- Content Wrapper Body -->
                        <div class="wrapper-body">
                            <div class="box-content">
                                <span class="box-button-gray-color-1">
                                    #color
                                </span>
                                <span class="box-button-gray-color-2">
                                    #color
                                </span>
                                <span class="box-button-gray-color-3">
                                    #color
                                </span>
                                <span class="box-button-gray-color-4">
                                    #color
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- Page Navigation -->
            <div class="page-navigation">
                <a href="#" class="page-previous">
                    <span>
                        <i class="iconify" data-icon="ion:arrow-back-sharp" data-inline="false"></i>
                        Typography
                    </span>
                </a>
                <a href="#" class="page-next">
                    <span>
                        Components
                        <i class="iconify" data-icon="ion:arrow-forward-sharp" data-inline="false"></i>
                    </span>
                </a>
            </div>
            <!-- End of Page Navigation -->

        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

</body>

</html>