{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/guide/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/guide/lnb }}

        <!-- Start of Main Container-->
        <main id="components">

            <section class="content-wrapper">

                {{> ../../../views/pages/guide/section/modal }}

            </section>

        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>