{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/guide/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/guide/lnb }}

        <!-- Start of Main Container-->
        <main id="components">

            <section class="content-wrapper">

                {{!-- {{> ../../../views/pages/guide/section/forms }} --}}

                {{!-- Basic Input --}}
                {{> ../../../views/pages/guide/section/input }}

                {{!-- Search Input --}}
                {{> ../../../views/pages/guide/section/search-input }}

                {{!-- Date Picker --}}
                {{> ../../../views/pages/guide/section/datepicker }}

                {{!-- Date Range Picker --}}
                {{> ../../../views/pages/guide/section/daterange-picker }}

                {{!-- Color Picker --}}
                {{> ../../../views/pages/guide/section/color-picker }}

                {{!-- Dropzone --}}
                {{> ../../../views/pages/guide/section/dropzone }}

                {{!-- Nestable --}}
                {{> ../../../views/pages/guide/section/nestable }}

            </section>

        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>