{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}

        <!-- Start of Main Container-->
        <main>
            <section class="content-wrapper statistics-page">

                <!-- Content Wrapper Title -->
                <div class="wrapper-title justify-content-between align-items-center">
                    <h2>회수</h2>

                    <!-- Breadcrumbs -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">통계</a></li>
                            <li class="breadcrumb-item"><a href="#">USDT 통계</a></li>
                            <li class="breadcrumb-item active" aria-current="page">통화량</li>
                        </ol>
                    </nav>
                    <!-- End of Breadcrumbs -->
                </div>
                <!-- End of Content Wrapper Title -->

                <!-- Sub-header Actions -->
                <div class="wrapper-sub-header justify-content-between">

                    <div class="wrapper-fields">
                        <div class="daterange-picker-container">
                            <input type="text" name="daterange" value="2018-06-10  ~  2018-06-12" />
                        </div>
                    </div>

                    <a class="btn solid-36 download" href="#">
                        <i class="icons icon-download on-left"></i>
                        다운로드
                    </a>
                </div>

                <!-- Content Wrapper Body -->
                <div class="wrapper-body">

                    <!-- Body Header -->
                    <div class="wrapper-body-header">

                        <!-- Title -->
                        <span class="title">
                            USDT 회수 리스트
                            <button type="button" class="icons icon-help-circle on-right" 
                                    data-toggle="tooltip" data-placement="bottom" placement="bottom left"
                                    data-offset="10, 10" 
                                    data-html="true"
                                    title="<ul class='tooltip-lists'>
                                            <li><span>회수 합계</span>= 우측 컬럼들의 해당일 합계 값.</li>
                                            <li><span>Wagered</span> – 해당 일 발생한 Wagered 합계 값.</li>
                                            <li><span>Fee</span> – 해당 일 발생한 Fee 합계 값. (Fee는 모든 게임 공통이 아니라, Fee가 발생하는 게임만 해당)</li>
                                            <li><span>게임_관리자회수</span> – ‘관리자회수’ 항목으로 유저 계좌로부터 게임 운영계좌로 회수된 USDT 합계.</li>
                                            <li><span>게임_이벤트회수</span> - ‘이벤트회수’ 항목으로 유저 계좌로부터 게임 운영계좌로 회수된 USDT 합계.(예: 이벤트 참가비)</li>
                                            <li><span>포털_관리자회수</span> – ‘관리자회수’ 항목으로 유저 계좌로부터 포털 운영계좌로 회수된 USDT 합계.</li>
                                            <li><span>포털_이벤트회수</span> - ‘이벤트회수’ 항목으로 유저 계좌로부터 포털 운영계좌로 회수된 USDT 합계.</li>
                                            <li><span>포털_기타회수</span> – ‘기타 회수’ 항목으로 유저 계좌로부터 게임 운영계좌로 회수된 USDT 합계.</li>
                                        </ul>">
                                </button>
                        </span>

                        <!-- Dropdown -->
                        <select class="dropdown-select show-tick line-32">
                            <option>필터</option>
                            <option>필터 1.1</option>
                            <option>필터 1.2</option>
                            <option>필터 1.3</option>
                            <option>필터 1.4</option>
                        </select>

                    </div>

                    <!-- Table -->
                    <div class="tb table-responsive statistics-lists">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">일자</th>
                                    <th scope="col" class="text-center">회수 합계</th>
                                    <th scope="col" class="text-center">Wagered</th>
                                    <th scope="col" class="text-center">게임_관리자 회수</th>
                                    <th scope="col" class="text-center">게임_이벤트 회수</th>
                                    <th scope="col" class="text-center">게임_기타 지급</th>
                                    <th scope="col" class="text-center">포털_관리자 회수</th>
                                    <th scope="col" class="text-center">포털_ 이벤트 회수</th>
                                    <th scope="col" class="text-center">포털_ 기타 회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">2020-06-01</td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                </tr>
                                <tr>
                                    <td class="text-center">2020-06-01</td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End of Table -->

                </div>
                <!-- End of Content Wrapper Body -->

            </section>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>