

@charset "utf-8";
/* font */

@font-face {
    font-family:'KakaoSmall';
    font-weight:300;
    src:local("☺"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/1ec4116.woff2) format("woff2"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/8ae4712.woff) format("woff")
    }

@font-face { 
    font-family:'KakaoSmall';
    font-weight:400;
    src:local("☺"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/25e471a.woff2) format("woff2"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/fe6f124.woff) format("woff")
    } 

@font-face { 
    font-family:'KakaoSmall';
    font-weight:700;
    src:local("☺"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/690a113.woff2) format("woff2"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/4d688e7.woff) format("woff")
    }

@font-face {
    font-family:'KakaoBig';
    font-weight:400;
    src:local("☺"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/93b6a9f.woff2) format("woff2"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/aaf1e56.woff) format("woff")
    }

@font-face { 
    font-family:'KakaoBig';
    font-weight:700;
    src:local("☺"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/9034912.woff2) format("woff2"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/fcd798c.woff) format("woff")
    }
    
@font-face { 
    font-family:'KakaoBig';
    font-weight:800;
    src:local("☺"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/79a1789.woff2) format("woff2"),
        url(https://www.kakaocorp.com/page/_nuxt/fonts/67f2c54.woff) format("woff")
    }