

/* ====================== [ Start Responsive ] ====================== */

@media screen and (max-width: $desk-lg-screen) {

    

}

@media screen and (max-width: $desk-md-screen) {

    .md-mb10 {
        margin-bottom: 10px;
    }

    .md-mb20 {
        margin-bottom: 20px;
    }

    .md-mb30 {
        margin-bottom: 30px;
    }

    .md-mb40 {
        margin-bottom: 40px;
    }

    .md-mb50 {
        margin-bottom: 50px !important;
    }

    .md-mb80 {
        margin-bottom: 80px;
    }

    .md-no-mrg{
        margin: 0 !important;
    }

    .md-pb10 {
        padding-bottom: 10px;
    }

    .md-pb20 {
        padding-bottom: 20px;
    }

    .md-pb30 {
        padding-bottom: 30px;
    }

    .md-pb40 {
        padding-bottom: 40px;
    }

    .md-pb50 {
        padding-bottom: 50px;
    }

    .md-pb60 {
        padding-bottom: 60px;
    }

    .md-pb70 {
        padding-bottom: 70px;
    }

    .md-pb80 {
        padding-bottom: 80px;
    }

    .md-pt80 {
        padding-top: 80px !important;
    }

    .md-no-pad{
        padding: 0 !important;
    }

    .md-center{
        text-align: center !important;
    }

    .order1 {
        order: 1 !important;
    }

    .order2 {
        order: 2 !important;
    }

    .order3 {
        order: 3 !important;
    }

    .justify-end{
        justify-content: flex-start !important;

        .vew-all{
            margin-left: 25px;
            margin-top: 25px;
        }

        .swiper-controls{
            margin-top: 30px;
        }

        .ml-auto{
            margin-left: 0;
            margin-top: 30px;
        }
    }

    .md-hide{
        display: none;
    }

    .to-out .swiper-container{
        overflow: hidden;
        clip-path: none;
    }

    .row.lg-marg,
    .row.md-marg{
        margin-left: -15px;
        margin-right: -15px;

        > *{
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .container.with-pad{
        padding: 0 .75rem;
    }

    .loader-wrap svg{
        width: 200vw;
        left: -50vw;
    }

    h4{

        span.main-color{
            display: inline;
        }
    }

    .butn-presv .skew{
        transform: none;
    }

    .go-more{
        justify-content: flex-start !important;
        margin-top: 30px;
    }

    .navbar{

        .bg{
            position: absolute;
            left: 0;
            top: 65px;
            display: none;
            width: 100%;
            height: auto;
            background: #0c0c0c;
            padding: 20px 30px;
            border: 1px solid rgba(255,255,255,.2);
        }

        .social{
            display: none !important;
        }
    }

    // home 1

    .hero{

        .intro{
            display: none;
        }

        .author-profile{
            display: block;
            margin-bottom: 80px;
        }
    }

    // home 2

    .left-area{
        display: block !important;

        .menu-links {
            margin-bottom: 15px;
            text-align: center;
            margin-top: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            a{
                display: inline-block;

                .text{
                    top: -15px;
                    transform: translateX(-50%);
                }

                &.show{

                    .text{
                        top: -30px;
                        left: 50%;
                    }
                }
            }
        }

        .author-profile{
            border-radius: 0;
            margin-bottom: 15px;

            &:after,
            &:before{
                border-radius: 0;
            }
        }
    }

    // home 3

    .header-crev .content h1{
        font-size: 70px;
    }

    .about .profile-img{
        width: max-content;
        margin: 0 auto 80px;

        .img{
            width: 500px;
        }
    }

    .about .info{
        padding: 20px;
    }

    .main-boxs .sec-box:first-of-type{
        border-radius: 0;

        &:after,
        &:before,
        .bg{
            border-radius: 0;
        }
    }

    .main-boxs .sec-box{
        padding: 100px 30px;
    }

    // home 3

    .header-crev{
        padding-top: 120px;

        .content{
            text-align: center;
            margin-bottom: 50px;

            .text{

                p{
                    width: 100%;
                }
            }
        }
    }

    // home 4

    .fixed-menu{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        background-color: #0c0c0c;
        border-radius: 0 0 30px 30px;

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(120deg, rgba(255,255,255,0.24), rgba(255,255,255,0.04));
            opacity: 0.3;
            pointer-events: none;
            border-radius: 0 0 30px 30px;
        }

        &:after{
            content: '';
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
            z-index: -1;
            pointer-events: none;
            border-radius: 0 0 30px 30px;
        }

        .menu-links{
            width: 100%;
            margin: 0 !important;
            justify-content: space-evenly;
            border-radius: 0;

            &:after,
            &:before{
                display: none;
            }
        }

        .menu-links,
        .menu-social{
            display: flex;
        }

        .menu-social{
            border-left: 1px solid rgba(255,255,255,.2);
            border-radius: 0;

            &:after,
            &:before{
                display: none;
            }

            a{
                margin: 0 15px;
            }
        }
    }

}

@media screen and (max-width: $tablet-sm-screen) {

    .sm-mb10 {
        margin-bottom: 10px;
    }

    .sm-mb15{
        margin-bottom: 15px;
    }

    .sm-mb20 {
        margin-bottom: 20px;
    }

    .sm-mb30 {
        margin-bottom: 30px;
    }

    .sm-mb40 {
        margin-bottom: 40px;
    }

    .sm-mb50 {
        margin-bottom: 50px;
    }

    .sm-mb80 {
        margin-bottom: 80px;
    }

    .sm-pb10 {
        padding-bottom: 10px;
    }

    .sm-pb20 {
        padding-bottom: 20px;
    }

    .sm-pb30 {
        padding-bottom: 30px;
    }

    .sm-pb40 {
        padding-bottom: 40px;
    }

    .sm-pb50 {
        padding-bottom: 50px;
    }

    .sm-pb60 {
        padding-bottom: 60px;
    }

    .sm-pb70 {
        padding-bottom: 70px;
    }

    .sm-pb80 {
        padding-bottom: 80px;
    }
    
    .sm-hide{
        display: none;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 14px;
    }

    .fz-28{
        font-size: 24px !important;
    }

    .justify-end-sm{
        justify-content: flex-start !important;

        .vew-all{
            margin-left: 25px;
            margin-top: 25px;
        }

        .swiper-controls{
            margin-top: 30px;
        }

        .ml-auto{
            margin-left: 0;
            margin-top: 40px;
        }
    }

    .md-padding{
        padding-left: 15px;
        padding-right: 15px;
    }

    .row.lg-marg,
    .row.md-marg{
        margin-left: -15px;
        margin-right: -15px;

        > *{
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .sub-title{
        letter-spacing: 1px;

        &.fz-28{
            font-size: 22px !important;
        }
    }

    .loader-wrap .loader-wrap-heading .load-text{
        letter-spacing: 5px;
        font-size: 13px;
    }

    .progress-wrap{
        right: 10px;
        bottom: 20px;
    }

    // home 1

    .hero{

        .content{

            h1{
                font-size: 26px;

                .bord{
                    font-size: inherit;
                    transform: none;
                }
            }

            .stauts{

                .d-flex{
                    display: block !important;
                }

                .mr-15,
                .mr-40{
                    margin: 0 0 40px 0 !important;
                }

                p{
                    padding-left: 0;
                }
            }
        }
    }

    // home 2

    .main-boxs .sec-box{
        padding: 100px 15px;
    }

    .testimonials .item{
        padding: 30px 15px;
    }

    .testimonials .swiper-slide{
        padding: 10px 0;
    }

    // home 3

    .header-crev .content h1{
        font-size: 55px;
    }

    .header-crev .img-author .box-shadwo{
        display: none;
    }

    .about .profile-img{
        padding: 10px;

        .img{
            width: 300px;
            height: 420px;
        }

        .icon:nth-of-type(2){
            right: -25px;
        }
    }

    .resume2 .items{
        padding-left: 30px;
    }

    .price .item{

        .content{
            display: block !important;

            .mr-40{
                margin-bottom: 40px !important;
            }
        }
    }

    // home 4

    .fixed-menu{

        .menu-social{
            display: none;
        }
    }

    .hero-min .cont {

        h1{
            font-size: 55px;
        }

        .d-flex{
            display: block !important;

            .mr-15{
                margin: 0 0 15px 0 !important;
            }
        }
    }

    // blogs

    .fz-55{
        font-size: 30px !important;
    }

    .main-post{

        .fz-60{
            display: none;
        }

        .post-qoute{
            padding: 30px 15px;

            h6{

                &:before{
                    position: relative;
                    left: 0;
                }
            }
        }

        .info-area{
            display: block;

            .tags{
                margin-bottom: 30px;
            }
        }

        .author-area{
            padding: 40px 20px;

            .flex{
                display: block;
            }

            .author-img{
                margin: 0 0 30px 0;

                .img{
                    width: 80px;
                    height: 80px;
                }
            }
        }

        .next-prv-post{
            display: block;

            .thumb-post{
                margin: 0 !important;
                padding: 40px 20px;

                h6{

                    br{
                        display: none;
                    }
                }
            }

            .text-right{
                text-align: left;
                margin-top: 30px !important;
            }
        }
    }

    .comments-post .item-box{

        .flex{
            display: block;
        }

        .user-img{
            margin: 0 0 15px 0;
        }

        .replay-post{
            margin: 15px 0 0 0;
        }

        &.replayed{
            margin-left: 0;
        }
    }

}

@media screen and (max-width: $mobile-xs-screen) {

   
}

/* ====================== [ End Responsive ] ====================== */