{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}

    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}

        <!-- Start of Main Container-->
        <main>
            <section class="content-wrapper event weeklyrace">
                <!-- Content Wrapper Title -->
                <div class="wrapper-title">
                    <h2>Weekly Race</h2>

                    <nav class="ml-auto" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">이벤트</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Weekly Race</li>
                        </ol>
                    </nav>
                </div>

                <div class="wrapper-body wrapper-details">
                    <div class="tb">
                        <table>
                            <colgroup>
                                <col width="50%">
                                <col width="50%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="txt center fs-7 medium">Weekly Race 진행 예정 일자</th>
                                    <th class="txt center fs-7 medium">누적 상금 총액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="txt center fs-9 bold">24회차 (2020-05-25 00:00:00)</td>
                                    <td class="txt center fs-9 bold">% 금액 %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="wrapper-body">
                    <div class="wrapper-body-header">
                        <span class="title">Weekly Race 내역</span>
                        <select class="dropdown-select show-tick line-32">
                            <option>1개월</option>
                        </select>
                    </div>

                    <div class="tb overflow">
                        <table>
                            <colgroup>
                                <col width="5%" />
                                <col width="5%" />
                                <col width="22.5%" />
                                <col width="22.5%" />
                                <col width="22.5%" />
                                <col width="22.5%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="checkbox-button">
                                            <label for="check_01">
                                                <input type="checkbox" value="" id="check_01">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col">NO</th>
                                    <th scope="col">Weekly Race 회차</th>
                                    <th scope="col">베팅량</th>
                                    <th scope="col">누적 상금</th>
                                    <th scope="col">당첨리스트</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox-button">
                                            <label for="check_02">
                                                <input type="checkbox" value="" id="check_02">
                                                <i class="checkbox"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>2020-05-19 00:00:00</td>
                                    <td>% 금액 %</td>
                                    <td>% 금액 %</td>
                                    <td class="color-primary">자세히보기</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="wrapper-body-footer">
                        <div class="actions">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn line-32 with icons icon-delete"></button>
                            </div>
                            <select class="dropdown-select show-tick line-40">
                                <option>필터</option>
                            </select>
                        </div>
                        <ul class="pagination">
                            <li class="page-item icons icon-chevron-left-gray"><span class="" href="#"></span></li>
                            <li class="page-item active"><span class="" href="#">1</span></li>
                            <li class="page-item"><span class="" href="#">2</span></li>
                            <li class="page-item"><span class="" href="#">3</span></li>
                            <li class="page-item"><span class="" href="#">4</span></li>
                            <li class="page-item"><span class="" href="#">5</span></li>
                            <li class="page-item ellipsis"></li>
                            <li class="page-item"><span class="" href="#">20</span></li>
                            <li class="page-item icons icon-chevron-right-gray"><span class="" href="#"></span></li>
                        </ul>
                    </div>

                </div>
            </section>

            <div class="modal modal-medium with-component fade" tabindex="-1" role="dialog" id="game_editing_modal1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">2020-05-15 당첨자 리스트</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <div class="tb overflow  hgtmax-10">
                                <table>
                                    <colgroup>
                                        <col width="20%">
                                        <col width="40%">
                                        <col width="40%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>순위</th>
                                            <th>당첨자</th>
                                            <th>당첨금</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>% 닉네임 (회원번호) %</td>
                                            <td>% 금액 %</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>% 닉네임 (회원번호) %</td>
                                            <td>% 금액 %</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>% 닉네임 (회원번호) %</td>
                                            <td>% 금액 %</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>% 닉네임 (회원번호) %</td>
                                            <td>% 금액 %</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>% 닉네임 (회원번호) %</td>
                                            <td>% 금액 %</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>% 닉네임 (회원번호) %</td>
                                            <td>% 금액 %</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>% 닉네임 (회원번호) %</td>
                                            <td>% 금액 %</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>% 닉네임 (회원번호) %</td>
                                            <td>% 금액 %</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>% 닉네임 (회원번호) %</td>
                                            <td>% 금액 %</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-triggers">
                <!-- This is sample button to show modals -->
                <button type="button" class="btn solid-40" data-toggle="modal" data-target="#game_editing_modal1">Modal
                    1</button>
            </div>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>