{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}


    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}


        <!-- Start of Main Container-->
        <main>
            <section class="content-wrapper accountportal account-management">
                <div class="wrapper-title">
                    <h2>계좌관리</h2>

                    <nav class="ml-auto" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">포털계좌</a></li>
                            <li class="breadcrumb-item active" aria-current="page">계좌관리</li>
                        </ol>
                    </nav>
                </div>

                <div class="wrapper-actions">
                    {{> tabs-account }}
                </div>

                <div class="wrapper-body">
                    <div class="tb-2">
                        <table>
                            <colgroup>
                                <col width="17.5%" />
                                <col width="30%" />
                                <col width="17.5%" />
                                <col width="17.5%" />
                                <col width="17.5%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="txt left bold bg-dark-gray" colspan="4">게임 사업 계좌</th>
                                    {{!-- <th></th>
                                    <th></th>
                                    <th></th> --}}
                                    <th class="txt right bg-dark-gray">단위 : USDT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="txt right medium">포털 운영 계좌</td>
                                    <td class="txt right">5,500.00</td>
                                    <td class="txt center"><a class="txt underline bold color-black" href="">전송하기</a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="txt right medium">포털 운영 계좌</td>
                                    <td class="txt right">1,500.00</td>
                                    <td class="txt center"><a class="txt underline bold color-black" href="">전송하기</a>
                                    </td>
                                    <td class="txt center"><a class="txt underline color-primary" href="">입금하기</a></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="txt right medium">포털 운영 계좌</td>
                                    <td class="txt right">300.00</td>
                                    <td class="txt center"><a class="txt underline bold color-black" href="">전송하기</a>
                                    </td>
                                    <td></td>
                                    <td class="txt center"><a class="txt underline color-red" href="">출금하기</a></td>
                                </tr>
                                <tr class="gray">
                                    <td class="txt right medium">자금 합계</td>
                                    <td class="txt right bold">6,800.00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </section>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>