{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}


    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}


        <!-- Start of Main Container-->
        <main>
            <section class="content-wrapper accountportal game-account-management">
                <div class="wrapper-title">
                    <h2>게임 계좌</h2>

                    <nav class="ml-auto" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">게임계좌</a></li>
                            <li class="breadcrumb-item active" aria-current="page">계좌관리</li>
                        </ol>
                    </nav>
                </div>

                <div class="wrapper-actions med">

                    <div class="wrapper">
                        <div class="wrapper d-flex mb-2">
                            <div class="search-input-container" data-target="#search-input">
                                <button class="search-field-clear" data-target="#search-input"></button>
                                <input class="search-field" id="search-input" placeholder="검색어를 입력해주세요">
                            </div>

                            <div class="tags-container">
                                <button type="button" class="btn point-40 tag">
                                    지구게임즈
                                    <i class="icons icon-clear on-right"></i>
                                </button>
                                <button type="button" class="btn point-40 tag">
                                    우주게임즈
                                    <i class="icons icon-clear on-right"></i>
                                </button>
                                <button type="button" class="btn point-40 tag">
                                    태양게임즈
                                    <i class="icons icon-clear on-right"></i>
                                </button>
                            </div>
                        </div>
                        {{> tabs-game-account }}
                    </div>

                </div>

                <div class="wrapper-body">
                    <div class="wrapper-body-header">
                        <span class="title">% 입점사명 % 계좌</span>
                        <span class="title-note">단위 : USDT</span>
                    </div>

                    <div class="tb-2">
                        <table>
                            <colgroup>
                                <col width="15%" />
                                <col width="40%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="txt left bold  bg-dark-gray" colspan="5">게임 사업 계좌</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="txt right medium">게임 메인 계좌</td>
                                    <td class="txt right">2,300.00</td>
                                    <td class="txt center"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="txt right medium">게임 수익 계좌</td>
                                    <td class="txt right">300.00</td>
                                    <td class="txt center"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="txt right medium">
                                        게임 운영담보금 계좌 <br>
                                        <span class="fs-6">(설정한도 2,500.00)</span>
                                    </td>
                                    <td class="txt right">1500.00</td>
                                    <td class="txt center"><a class="txt underline bold black" href="">전송하기</a></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="gray">
                                    <td class="txt right medium">자금 합계</td>
                                    <td class="txt right bold">4,100.00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex mt-4">
                        <div class="tb-2" style="width: 60%">
                            <table>
                                <colgroup>
                                    <col width="30%" />
                                    <col width="70%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="txt left bold  bg-dark-gray" colspan="2">게임 운영 계좌</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt right medium">게임 수익 합계</td>
                                        <td class="txt right">8,958.12</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">게임 운영자금 합계</td>
                                        <td class="txt right">2,255.00</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">게임 비상자금 합계</td>
                                        <td class="txt right">620.00</td>
                                    </tr>
                                    <tr class="gray">
                                        <td class="txt right medium">자금 합계</td>
                                        <td class="txt right bold">11,833.12</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tb-2 ml-4" style="width: 40%">
                            <table>
                                <colgroup>
                                    <col width="30%" />
                                    <col width="70%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="txt left bold  bg-dark-gray" colspan="2">게임</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt right medium bg-primary color-white">정상</td>
                                        <td class="txt right">3</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium bg-red color-white">경고</td>
                                        <td class="txt right">2</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium bg-green color-white">점검중</td>
                                        <td class="txt right">1</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">전체</td>
                                        <td class="txt right bold">6</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="wrapper-body mt-4">
                    <div class="wrapper-body-header">
                        <div class="wrapper-body-header">
                            <span class="title">% 입점사명 % 계좌</span>
                            <span class="title-note">단위 : USDT</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="tb-2" style="width: 33%">
                            <table>
                                <colgroup>
                                    <col width="30%" />
                                    <col width="70%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="txt left bold bg-primary" colspan="2">게임 운영 계좌</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt right medium">수익</td>
                                        <td class="txt right">1,234.56</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">운영자금</td>
                                        <td class="txt right">500.00</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">비상자금</td>
                                        <td class="txt right">100.00</td>
                                    </tr>
                                    <tr class="gray">
                                        <td class="txt right medium">합계</td>
                                        <td class="txt right bold">1,834.56</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tb-2 ml-4" style="width: 33%">
                            <table>
                                <colgroup>
                                    <col width="30%" />
                                    <col width="70%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="txt left bold bg-red" colspan="2">게임 운영 계좌</th>
                                    </tr>
                                <tbody>
                                    <tr>
                                        <td class="txt right medium">수익</td>
                                        <td class="txt right">1,234.56</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">운영자금</td>
                                        <td class="txt right color-red">500.00</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">비상자금</td>
                                        <td class="txt right">100.00</td>
                                    </tr>
                                    <tr class="gray">
                                        <td class="txt right medium">합계</td>
                                        <td class="txt right bold">1,834.56</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tb-2 ml-4" style="width: 33%">
                            <table>
                                <colgroup>
                                    <col width="30%" />
                                    <col width="70%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="txt left bold bg-green" colspan="2">게임 운영 계좌</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt right medium">수익</td>
                                        <td class="txt right">1,234.56</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">운영자금</td>
                                        <td class="txt right">500.00</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">비상자금</td>
                                        <td class="txt right  color-green">100.00</td>
                                    </tr>
                                    <tr class="gray">
                                        <td class="txt right medium">합계</td>
                                        <td class="txt right bold">1,834.56</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="tb-2" style="width: 33%">
                            <table>
                                <colgroup>
                                    <col width="30%" />
                                    <col width="70%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="txt left bold bg-primary" colspan="2">게임 운영 계좌</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt right medium">수익</td>
                                        <td class="txt right">1,234.56</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">운영자금</td>
                                        <td class="txt right">500.00</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">비상자금</td>
                                        <td class="txt right">100.00</td>
                                    </tr>
                                    <tr class="gray">
                                        <td class="txt right medium">합계</td>
                                        <td class="txt right bold">1,834.56</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tb-2 ml-4" style="width: 33%">
                            <table>
                                <colgroup>
                                    <col width="30%" />
                                    <col width="70%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="txt left bold bg-primary" colspan="2">게임 운영 계좌</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt right medium">수익</td>
                                        <td class="txt right">1,234.56</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">운영자금</td>
                                        <td class="txt right">500.00</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">비상자금</td>
                                        <td class="txt right">100.00</td>
                                    </tr>
                                    <tr class="gray">
                                        <td class="txt right medium">합계</td>
                                        <td class="txt right bold">1,834.56</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tb-2 ml-4" style="width: 33%">
                            <table>
                                <colgroup>
                                    <col width="30%" />
                                    <col width="70%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="txt left bold bg-primary" colspan="2">게임 운영 계좌</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt right medium">수익</td>
                                        <td class="txt right">1,234.56</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">운영자금</td>
                                        <td class="txt right">500.00</td>
                                    </tr>
                                    <tr>
                                        <td class="txt right medium">비상자금</td>
                                        <td class="txt right">100.00</td>
                                    </tr>
                                    <tr class="gray">
                                        <td class="txt right medium">합계</td>
                                        <td class="txt right bold">1,834.56</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>


            <div class="modal modal-medium with-component fade modal-account-inquiry"
                id="gameaccount_management_portal_modal1" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title fs-8">입점사 조회</h5>
                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <div class="search-input-container wdtper-100" data-target="#search-input">
                                <button class="search-field-clear" data-target="#search-input"></button>
                                <input class="search-field" id="search-input" placeholder="% 입점사명 %">
                            </div>

                            <h5 class="mt-4">최근 조회한 입점사</h5>

                            <ul class="list-mini-with-buttons">
                                <li>
                                    <span>% 입점사명 %</span>
                                    <button type="button" class="btn solid-32">선택</button>
                                </li>
                                <li>
                                    <span>지구게임즈</span>
                                    <button type="button" class="btn solid-32">선택</button>
                                </li>
                                <li>
                                    <span>우주게임즈</span>
                                    <button type="button" class="btn solid-32">선택</button>
                                </li>
                                <li>
                                    <span>태양게임즈</span>
                                    <button type="button" class="btn solid-32">선택</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-triggers">
                <!-- This is sample button to show modals -->
                <button type="button" class="btn solid-40" data-toggle="modal"
                    data-target="#gameaccount_management_portal_modal1">Modal
                    1</button>
                <button type="button" class="btn solid-40">
                    <a class="color-white"
                        href="{{ htmlWebpackPlugin.options.relativePath }}pages/accountportal/game-account-management-company.html">
                        Go to game account management for company/store
                    </a>
                </button>
            </div>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>