{{> ../../../views/templates/head }}

<body>
    {{> ../../../views/templates/gnb }}


    <!-- Start of App Container -->
    <div class="app-container">

        {{> ../../../views/templates/lnb }}


        <!-- Start of Main Container-->
        <main>
            <section class="content-wrapper accountportal game-account-management-transfer">
                <div class="wrapper-title">
                    <h2>전송하기</h2>

                    <nav class="ml-auto" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">게임계좌</a></li>
                            <li class="breadcrumb-item"><a href="#">계좌관리</a></li>
                            <li class="breadcrumb-item active" aria-current="page">전송하기</li>
                        </ol>
                    </nav>
                </div>

                <div class="wrapper-body">
                    <div class="wrapper-body-header">
                        <span class="title">계좌 간 USDT 전송</span>
                    </div>

                    <div class="d-flex wdtper-100 justify-content-center mb-20">
                        <div class="form-dual mt-5">
                            <div class="form-dual-wrapper">
                                <div class="form">
                                    <div class="form-wrapper">
                                        <div class="form-title">
                                            <h3>보내는 계좌</h3>
                                        </div>
                                        <div class="input-container input-line mt-8 black" data-target="#input-basic">
                                            <input class="input-field txt medium" id="input-basic" type="text"
                                                value="% 선택 된 계좌명 %">
                                        </div>


                                        <div class="input-container mt-2" data-target="#input-basic">
                                            <input class="input-field" id="input-basic" type="text"
                                                placeholder="전송 수량 입력">
                                            <span class="input-unit">USDT</span>
                                            <span class="input-note">
                                                전송가능 수량 : 1,250.00 USDT
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-arrow">
                                    <i class="icons icon-round-arrow-dark"></i>
                                </div>

                                <div class="form">
                                    <div class="form-wrapper">
                                        <div class="form-title">
                                            <h3>받는 계좌</h3>
                                        </div>

                                        <div class="search-input-container line-container wdtper-100 mt-8"
                                            data-target="#search-input-2">
                                            <button class="search-field-clear" data-target="#search-input-2"></button>
                                            <input class="search-field" id="search-input-2" placeholder="받는 계좌 검색">
                                        </div>

                                        <span class="text-active">(메인계좌) 지구 게임즈</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form form-textbox mt-4">
                                <label for="">
                                    전송사유 <span class="color-red">(필수)</span>
                                </label>

                                <div class="input-container with-textarea" data-target="#textarea-basic">
                                    <textarea class="input-field" placeholder="제목을 입력해주세요" maxlength="200" maxend="자"
                                        id="textarea-basic" cols="30" rows="10"></textarea>
                                </div>
                                <span class="note">
                                    처리 담당자 : 이름 (이메일주소@이메일..com)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btns mt-5">
                    <div></div>
                    <div>
                        <button type="button" class="btn confirm-line-46">취소</button>
                        <button type="button" class="btn confirm-solid-46">전송</button>
                    </div>
                </div>
            </section>
        </main>
        <!-- End of Main Container-->

    </div>
    <!-- End of App Container -->

    {{> ../../../views/templates/global-scripts }}

</body>

</html>