<ul class="tab-navigation">
    <li class="{{#if htmlWebpackPlugin.options.accountportal_accountmanagement}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/accountportal/account-management.html">
            계좌관리</a>
    </li>
    <li class="{{#if htmlWebpackPlugin.options.accountportal_accountdeposithistory}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/accountportal/account-dw-history.html">
            입출금 이력</a>
    </li>
    <li class="{{#if htmlWebpackPlugin.options.accountportal_accounttransferhistory}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/accountportal/account-transfer-history.html">
            계좌간 전송 이력</a>
    </li>
</ul>