<ul class="tab-navigation">
    <li class="{{#if htmlWebpackPlugin.options.accountportal_gamemanagerpaymenthistory}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/accountportal/game-manager-payment-history.html">
            보내는 계좌</a>
    </li>
    <li class="{{#if htmlWebpackPlugin.options.accountportal_gamemanagergeneralpayment}} active {{/if}}">
        <a href="{{ htmlWebpackPlugin.options.relativePath }}pages/accountportal/game-manager-general-payment.html">
            받는 계좌</a>
    </li>
</ul>