/*
Pretendard @font-face kit
*/

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../fonts/text-font/woff2/Pretendard-Black.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../fonts/text-font/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../fonts/text-font/woff2/Pretendard-Bold.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../fonts/text-font/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../fonts/text-font/woff2/Pretendard-Medium.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../fonts/text-font/woff2/Pretendard-Regular.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../fonts/text-font/woff2/Pretendard-Light.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../fonts/text-font/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../fonts/text-font/woff2/Pretendard-Thin.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Thin.woff') format('woff');
}
/*-----------------------------
  media query
-----------------------------*/
/*-----------------------------
  Colors
-----------------------------*/
body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: #181a23;
}

.main_head {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.main_head .navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(148, 152, 172, 0.18);
  padding: 2px 30px;
}
.main_head .navbar .navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #181a23;
  display: flex;
  align-items: center;
}
.main_head .navbar .navbar-brand svg {
  width: 105px;
  height: 45px;
}
.main_head .navbar .navbar-brand .ver_item {
  border-radius: 6px;
  border: 1px solid rgba(148, 152, 172, 0.2);
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 33px;
  height: 23px;
  font-weight: 500;
  color: #9498ac;
  margin-left: 10px;
}

.bk_sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  overflow: auto;
  padding: 24px 0;
  bottom: 0;
  width: 300px;
  background-color: rgba(203, 205, 216, 0.08);
}
.bk_sidebar .nav {
  width: 100%;
}
.bk_sidebar .nav .group {
  margin-bottom: 30px;
}
.bk_sidebar .nav .title_sm {
  font-size: 12px;
  color: #9498ac;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 30px;
  padding-bottom: 10px;
}
.bk_sidebar .nav .nav-link {
  padding: 11px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #181a23;
  font-weight: 400;
  font-size: 16px;
  border-radius: 0;
}
.bk_sidebar .nav .nav-link.active {
  background-color: rgba(85, 111, 255, 0.1);
  color: #556fff;
}
.bk_sidebar .nav .nav-link:hover {
  color: #556fff;
}

.content_body {
  min-height: 100vh;
  padding: 70px 30px;
}
.content_body h1,
.content_body h2,
.content_body h3,
.content_body h4,
.content_body h5,
.content_body h6 {
  color: #181a23;
}
.content_body .item_bk {
  padding-top: 60px;
}
.content_body .item_bk h1 {
  font-size: 55px;
  font-weight: 700;
  color: #181a23;
}
.content_body .item_bk .sub_title {
  font-size: 20px;
  color: #181a23;
}
.content_body .item_bk p {
  font-size: 16px;
  color: #5d6072;
}
.content_body .item_bk .before_title {
  font-size: 13px;
  color: #9498ac;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
.content_body .item_bk h2 {
  font-size: 35px;
  font-weight: 600;
}
.content_body .item_bk .title_sub {
  font-size: 22px;
  font-weight: 500;
}
.content_body b {
  font-weight: 600;
  color: #181a23;
}
.content_body ul li {
  font-size: 16px;
  color: #5d6072;
  padding-bottom: 10px;
}
.content_body ul li b {
  font-weight: 600;
  color: #181a23;
}
.content_body .dividar {
  border-bottom: 1px solid rgba(148, 152, 172, 0.2);
  margin-top: 60px;
}

body, a,
p,
.btn {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
}

a {
  color: #4a8cfd;
  text-decoration: none !important;
}

.color-primary {
  color: #556fff !important;
}

/*# sourceMappingURL=main.css.map */
