/*
Pretendard @font-face kit
*/

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../fonts/text-font/woff2/Pretendard-Black.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../fonts/text-font/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../fonts/text-font/woff2/Pretendard-Bold.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../fonts/text-font/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../fonts/text-font/woff2/Pretendard-Medium.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../fonts/text-font/woff2/Pretendard-Regular.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../fonts/text-font/woff2/Pretendard-Light.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../fonts/text-font/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../fonts/text-font/woff2/Pretendard-Thin.woff2') format('woff2'), url('../fonts/text-font/woff/Pretendard-Thin.woff') format('woff');
}
// End @font-face kit

/*-----------------------------
  media query
-----------------------------*/
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";

/*-----------------------------
  Colors
-----------------------------*/
$color-black: #000;
$color-white: #fff;
$color-primary: #556fff;
$color-secondary: #181a23;
$color-snow: #cbcdd8;
$color-red: #ff4040;
$color-orange: #ff702c;
$color-blue: #4a8cfd;
$color-yellow: #fa9905;
$color-green: #41bd83;
$color-text: #9498ac;
$color-comment: #5d6072;

body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // @media #{$maxMobile} {
  //    padding-top: 1.5rem;
  //  }
  @extend %transition;
  font: {
    family: "Pretendard", sans-serif;
    size: 16px;
  }
  color: $color-secondary;
  @extend %transition;
}

a,
p,
.btn {
  @extend %transition;
}

.main_head {
  position: fixed;
  width: 100%;
  background-color: $color-white;
  z-index: 99;
  .navbar {
    background-color: $color-white;
    border-bottom: 1px solid rgba($color-text, 0.18);
    padding: 2px 30px;
    .navbar-brand {
      font-size: 30px;
      font-weight: 700;
      color: $color-secondary;
      display: flex;
      align-items: center;
      svg {
        width: 105px;
        height: 45px;
      }
      .ver_item {
        border-radius: 6px;
        border: 1px solid rgba($color-text, 0.2);
        font-size: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 33px;
        height: 23px;
        font-weight: 500;
        color: $color-text;
        margin-left: 10px;
      }
    }
  }
}

.bk_sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  overflow: auto;
  padding: 24px 0;
  bottom: 0;
  width: 300px;
  background-color: rgba($color-snow, 0.08);
  .nav {
    width: 100%;
    .group {
      margin-bottom: 30px;
    }
    .title_sm {
      font-size: 12px;
      color: $color-text;
      text-transform: uppercase;
      font-weight: 500;
      padding: 0 30px;
      padding-bottom: 10px;
    }
    .nav-link {
      padding: 11px 30px;
      width: 100%;
      display: flex;
      align-items: center;
      color: $color-secondary;
      font-weight: 400;
      font-size: 16px;
      border-radius: 0;
      &.active {
        background-color: rgba($color-primary, 0.1);
        color: $color-primary;
      }
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.content_body {
  min-height: 100vh;
  padding: 70px 30px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-secondary;
  }
  .item_bk {
    padding-top: 60px;
    h1 {
      font-size: 55px;
      font-weight: 700;
      color: $color-secondary;
    }
    .sub_title {
      font-size: 20px;
      color: $color-secondary;
    }
    p {
      font-size: 16px;
      color: $color-comment;
    }
    .before_title {
      font-size: 13px;
      color: $color-text;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 35px;
      font-weight: 600;
    }
    .title_sub {
      font-size: 22px;
      font-weight: 500;
    }
  }
  b {
    font-weight: 600;
    color: $color-secondary;
  }
  ul {
    li {
      font-size: 16px;
      color: $color-comment;
      padding-bottom: 10px;
      b {
        font-weight: 600;
        color: $color-secondary;
      }
    }
  }
  .dividar {
    border-bottom: 1px solid rgba($color-text, 0.2);
    margin-top: 60px;
  }
}

%transition {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
}

a {
  color: $color-blue;
  text-decoration: none !important;
}

.color-primary {
  color: $color-primary !important;
}
