
/* Titles
-----------------------------------------------------------------*/

.sec-head{

    .dot-titl{
        padding: 8px 15px;
        border: 1px solid rgba(255,255,255,.9);
        border-radius: 30px;
        font-size: 11px;
        color: #ddd;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: max-content;

        .icon{
            width: 15px;
            margin-right: 10px;
        }

        .text{
            margin-bottom: -4px;
        }
    }
}

.sub-title-icon{
    width: max-content;
    padding: 10px 20px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 30px;
    margin-bottom: 15px;

    .icon{
        margin-right: 10px;
    }

    h6{
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.sub-title{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.vew-all{

    a{
        position: relative;
        z-index: 2;

        &:after{
            content: '';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            top: 50%;
            left: -25px;
            transform: translateY(-50%);
            opacity: .05;
            z-index: -1;
        }
    }

    &:hover{

        a{
            text-decoration: underline;
        }
    }
}