

/* Typography
-----------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

body{
    color: #fff;
    background-color: #0c0c0c;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden !important;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../imgs/patterns/noise1.png);
        background-size: auto;
        background-repeat: repeat;
        border-radius: 30px 0 0 30px;
        pointer-events: none;
        opacity: 0;
        z-index: -1;
    }
}

.lines{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: -1;
    pointer-events: none;

    span{
        height: 100%;
        width: 10%;
        margin: 0 5%;
        border-right: 1px solid rgba(255,255,255,.05);
        border-left: 1px dashed rgba(255,255,255,.05);
    }
}

.container.with-pad{
    padding: 0 60px;
}

.row{

    &.sm-marg{
        margin-left: -7px;
        margin-right: -7px;

        >*{
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    &.md-marg{
        margin-left: -25px;
        margin-right: -25px;

        >*{
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &.lg-marg{
        margin-left: -40px;
        margin-right: -40px;

        >*{
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &.xlg-marg{
        margin-left: -50px;
        margin-right: -50px;

        >*{
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

.to-out{

    .swiper-container{
        overflow: visible;
        clip-path: inset(-100vw -100vw -100vw 0);
    }
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 38px;
}

h4{
    font-size: 30px;
}

h5{
    font-size: 24px;
}

h6{
    font-size: 17px;
}

p{
    line-height: 1.75;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #ddd;
    margin: 0;
}

a, a:hover {
    color: inherit;
}

span{
    display: inline-block;
}

a{
    display: inline-block;
    text-decoration: none;
    
    &:hover{
       text-decoration: none;
    }
}

figure{
    margin: 0;
}

.row > * {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
}

.btn{

    &:hover,
    &:focus,
    &:active{
        outline: none;
        box-shadow: none;
    }
}

.main-color{
    color: var(--maincolor) !important;
}

.main-colorbg{
    background-color: var(--maincolor);
}

.main-bg{
    background-color: $main_bg;
}

.sub-bg{
    background: $sub_bg;
    background: linear-gradient(-140deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.005));
}

.in-box{
    width: calc(100% - 80px);
    margin: auto;
}

img{
    width: 100%;
    height: auto;
}

.numb{
    font-family: 'Space Grotesk', sans-serif;
}






