/* ----------------------------------------------------------------
	Overtake: Somnis
-----------------------------------------------------------------*/

:root {
	--ottm-themecolor: #00FFCC;
	--ottm-themecolor-rgb: 230, 36, 41;

	--ottm-dark-themecolor: #0a131d;
	--ottm-dark-themecolor-rgb: 10, 19, 29;

	--ottm-body-bg: transparent;
	--ottm-body-image: linear-gradient(to bottom, rgba(var(--ottm-dark-themecolor-rgb), 0.9), rgba(var(--ottm-dark-themecolor-rgb), 0.95)), url('images/body-bg.jpg');

	--ottm-primary-font: "timonium", sans-serif;
	--ottm-body-font: "tenon", sans-serif;
	--ottm-secondary-font: var(--ottm-primary-font);

	--ottm-slider-arrows-bg-color: transparent;
}

body {
	background-image: var(--ottm-body-image);
	background-size: cover;
	background-position: top;
	background-repeat: repeat;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header {
	--ottm-primary-menu-font-size: 1rem;
	--ottm-primary-menu-color: 1rem;
	--ottm-header-sticky-bg: transparent;
}

.is-expanded-menu #header.transparent-header:not(.sticky-header) #header-wrap {
	--ottm-header-bg: transparent;

}

.is-expanded-menu #header.transparent-header #header-wrap .container {
	transition: margin .2s ease;
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container {
	margin-top: 20px;
	--ottm-primary-menu-hover-color: #000;
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container .button-gaming {
	--ottm-btn-gaming-color: #000;
	--ottm-btn-gaming-bg: var(--ottm-themecolor);
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container .menu-container {
	margin-left: 20px;
}

.text-shadow-effect,
.h-text-shadow-effect:hover {
	--ottm-text-shadow-size: 2px;
	text-shadow: var(--ottm-text-shadow-size) var(--ottm-text-shadow-size) var(--ottm-themecolor);
	transition: text-shadow 0.5s ease;
}

.text-shadow-effect-size-1,
.h-text-shadow-effect-size-1:hover {
	--ottm-text-shadow-size: 1px;
}

.text-shadow-effect-size-2,
.h-text-shadow-effect-size-2:hover {
	--ottm-text-shadow-size: 2px;
}

.text-shadow-effect-size-3,
.h-text-shadow-effect-size-3:hover {
	--ottm-text-shadow-size: 3px;
}

.text-shadow-effect-size-4,
.h-text-shadow-effect-size-4:hover {
	--ottm-text-shadow-size: 4px;
}

.text-shadow-effect-size-0,
.h-text-shadow-effect-size-0:hover {
	--ottm-text-shadow-size: 0px;
}

/* button-gaming */
.button-gaming {
	--ottm-btn-gaming-bg: var(--ottm-themecolor);
	--ottm-btn-gaming-color: #000;
	--ottm-btn-gaming-size: 8px;
	--ottm-btn-gaming-padding: 30px;
	--ottm-btn-gaming-transition: all .3s ease;
    position: relative;
    padding: 0;
}

.button-gaming:hover {
	--ottm-btn-gaming-color: var(--ottm-dark-themecolor);
	--ottm-btn-gaming-bg:var(--ottm-dark-themecolor);
}

.button-gaming::before,
.button-gaming::after {
    content: "";
    display: block;
    height: var(--ottm-btn-gaming-size);
	border-style: solid;
    border-color: var(--ottm-btn-gaming-bg);
	background-color: var(--ottm-btn-gaming-bg);
	transition: var(--ottm-btn-gaming-transition);
}

.button-gaming::before {
	border-width: 0 0 var(--ottm-btn-gaming-size) var(--ottm-btn-gaming-size);
    margin-left: var(--ottm-btn-gaming-size);
}

.button-gaming::after {
    margin-right: var(--ottm-btn-gaming-size);
}

.button-gaming::after {
    border-color: var(--ottm-btn-gaming-bg);
	background-color: var(--ottm-btn-gaming-bg);
	transition: var(--ottm-btn-gaming-transition);
}

.button-gaming .button-span-text:before,
.button-gaming .button-span-text:after {
	content: "";
    display: block;
    position: absolute;
    border-width: 0 0 var(--ottm-btn-gaming-size) var(--ottm-btn-gaming-size);
    border-style: solid;
	border-color: var(--ottm-btn-gaming-bg) transparent;
	transition: var(--ottm-btn-gaming-transition);
}

.button-gaming .button-span-text {
	display: block;
    text-align: center;
    padding: 0 var(--ottm-btn-gaming-padding);
	color: var(--ottm-btn-gaming-color);
    background-color: var(--ottm-btn-gaming-bg);
	transition: var(--ottm-btn-gaming-transition);
}

.button-gaming .button-span-text::before {
	left: 0;
    top: 0;
	border-color: var(--ottm-btn-gaming-bg) transparent;
	transition: var(--ottm-btn-gaming-transition);
}

.button-gaming .button-span-text:after {
	bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

/* button-gaming */
.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container {
	--ottm-btn-gaming-bg: var(--ottm-dark-themecolor);
	--ottm-btn-gaming-color: #000;
	--ottm-btn-gaming-size: 14px;
	--ottm-btn-gaming-padding: 30px;
	--ottm-btn-gaming-transition: all .3s ease;
    position: relative;
    padding: 0;
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container::before,
.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container::after {
    content: "";
    display: block;
    height: var(--ottm-btn-gaming-size);
	border-style: solid;
    border-color: var(--ottm-btn-gaming-bg);
	background-color: var(--ottm-btn-gaming-bg);
	transition: var(--ottm-btn-gaming-transition);
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container::before {
	border-width: 0 0 var(--ottm-btn-gaming-size) var(--ottm-btn-gaming-size);
    margin-left: var(--ottm-btn-gaming-size);
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container::after {
    margin-right: var(--ottm-btn-gaming-size);
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container::after {
    border-color: var(--ottm-btn-gaming-bg);
	background-color: var(--ottm-btn-gaming-bg);
	transition: var(--ottm-btn-gaming-transition);
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container .header-row:before,
.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container .header-row:after {
	content: "";
    display: block;
    position: absolute;
    border-width: 0 0 var(--ottm-btn-gaming-size) var(--ottm-btn-gaming-size);
    border-style: solid;
	border-color: var(--ottm-btn-gaming-bg) transparent;
	transition: var(--ottm-btn-gaming-transition);
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container .header-row {
	background-color: var(--ottm-btn-gaming-bg);
	transition: var(--ottm-btn-gaming-transition);
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container .header-row::before {
	left: 0;
    top: 0;
	border-color: var(--ottm-btn-gaming-bg) transparent;
	transition: var(--ottm-btn-gaming-transition);
}

.is-expanded-menu #header.transparent-header.sticky-header #header-wrap .container .header-row:after {
	bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.media-wrap {
	padding: 13px;
}


.media-wrap::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(images/frame.svg);
}

.media-wrap.media-is-playing:not(:hover) .media-trigger-playback {
	opacity: 0;
}

.swiper-slide {
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
}

.swiper-slide:not(.swiper-slide-active) {
	opacity: .3;
}

.slider-arrow-left,
.slider-arrow-right {
	--ottm-slider-arrows-size: 64px;
	--ottm-slider-arrows-offset: 30px;
    left: var(--ottm-slider-arrows-offset);
    transform: translateY(-50%);
	border: 0;
	text-align: center;
	transition: all .3s;
}

.slider-arrow-left svg,
.slider-arrow-right svg {
	width: var(--ottm-slider-arrows-size);
	height: var(--ottm-slider-arrows-size);
	text-align: center;
	fill: #FFF;
}

.slider-arrow-left:hover,
.slider-arrow-right:hover {
	--ottm-slider-arrows-bg-hover-color: transparent;
	transform: translateY(-50%) scale(1.25);
}
.slider-arrow-left:hover svg,
.slider-arrow-right:hover svg {
	fill: #D9851A;
}

.slider-arrow-right {
	left: auto;
	right: var(--ottm-slider-arrows-offset);
}

.swiper-button-disabled {
	display: none;
}

@media (max-width: 767px) {
	.slider-arrow-left,
	.slider-arrow-right {
		--ottm-slider-arrows-size: 34px;
		--ottm-slider-arrows-offset: 20px;
	}
}


/* Page Loaders */
.css3-spinner {
	background: var(--ottm-dark-themecolor);
}

.css3-spinner > div {
	--ottm-loader-width: 80px;
	aspect-ratio: 1;
	display: grid;
	color: var(--ottm-themecolor);
	background:
		conic-gradient(from -153deg at right,#0000,currentColor 1deg 126deg,#0000 127deg) calc(50% + 5px) 0   /10px 50%,
		conic-gradient(from   27deg at left ,#0000,currentColor 1deg 126deg,#0000 127deg) calc(50% - 5px) 100%/10px 50%,
		linear-gradient(to top    right,currentColor 50%,#0000 0%) calc(50% + 10px) calc(50% - 10px) /20px 20px,
		linear-gradient(to bottom left ,currentColor 50%,#0000 0%) calc(50% - 10px) calc(50% + 10px) /20px 20px;
	background-repeat: no-repeat;
	-webkit-mask: radial-gradient(circle 5px,#0000 90%,#000);
	animation: loader_spin 1.5s infinite linear;
}
.css3-spinner > div:before,
.css3-spinner > div:after {
	content: "";
	grid-area: 1/1;
	background: inherit; 
	transform: rotate(60deg);
}
.css3-spinner > div:after {
	transform: rotate(120deg);
}
@keyframes loader_spin { 
	100% {
		transform: rotate(1turn);
	}
}

.award-svg {
	width: 128px !important;
	height: auto !important;
}
