
@font-face{
    font-family:KakaoSmall;
    font-weight:300;
    src:local("☺"),url(./woff2/1ec4116.woff2) format("woff2"),url(./woff2/8ae4712.woff) format("woff")
}

@font-face{
    font-family:KakaoSmall;
    font-weight:400;
    src:local("☺"),url(./woff2/25e471a.woff2) format("woff2"),url(./woff2/fe6f124.woff) format("woff")
}
    
@font-face{
    font-family:KakaoSmall;
    font-weight:700;
    src:local("☺"),url(./woff2/690a113.woff2) format("woff2"),url(./woff2/4d688e7.woff) format("woff")
}

@font-face{
    font-family:KakaoBig;
    font-weight:400;
    src:local("☺"),url(./woff2/93b6a9f.woff2) format("woff2"),url(./woff2/aaf1e56.woff) format("woff")
}

@font-face{
    font-family:KakaoBig;
    font-weight:700;
    src:local("☺"),url(./woff2/9034912.woff2) format("woff2"),url(./woff2/fcd798c.woff) format("woff")
}

@font-face{
    font-family:KakaoBig;
    font-weight:800;
    src:local("☺"),url(./woff2/79a1789.woff2) format("woff2"),url(./woff2/67f2c54.woff) format("woff")
}