/* Banner */
.banner {
	background-position: 50% 120%;
}

/* Help */
.help {
	background-position: 50% -20%;
}

/* Assistance */
.assistance .iconbox .btn-underlined:before {
	background-color: #efefef;
}

.assistance .iconbox .btn-underlined:after {
	background-color: var(--lqd-color-secondary);
}

@media (max-width: 991px) {
	.assistance {
		padding-bottom: 45px;
	}
}