<section class="row mb-4" id="alert_section">

    <div class="col-lg-12">
        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Alert</h2>
        </div>
        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            <div class="row">

                <div class="col-lg-4">
                    <button type="button" class="btn line-32 mb-4" onclick="showDefaultAlert();">Show Alert</button>
                
                    <div class="alert default" role="alert">
                        <span>전정국님 로그인 하셨습니다.</span>
                        <button type="button" class="icons icon-close close" data-dismiss="alert"></button>
                    </div>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn green-point-32 mb-4" onclick="showSuccessAlert();">Show Alert</button>
                
                    <div class="alert success" role="alert">
                        <i class="icons icon-check-circle"></i>
                        <span>전정국님 로그인 하셨습니다.</span>
                        <button type="button" class="icons icon-close close" data-dismiss="alert"></button>
                    </div>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn red-point-32 mb-4" onclick="showErrorAlert();">Show Alert</button>

                    <div class="alert error" role="alert">
                        <i class="icons icon-error-circle"></i>
                        <span>전정국님 로그인 하셨습니다.</span>
                        <button type="button" class="icons icon-close close" data-dismiss="alert"></button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>
