<section class="content-wrapper">
    <!-- Content Wrapper Title -->
    <div class="wrapper-title">
        <h2>Breadcrumbs</h2>
    </div>

    <!-- Content Wrapper Body -->
    <div class="wrapper-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</section>