<section class="row" id="button_section">

    <!-- Basic Buttons -->
    <div class="col-lg-12 mb-3">

        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Basic Buttons</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <button type="button" class="btn line-32">Button</button>
                    <button type="button" class="btn point-32">Button</button>
                    <button type="button" class="btn red-point-32">Button</button>
                    <button type="button" class="btn green-point-32">Button</button>
                    <button type="button" class="btn solid-32">Button</button>
                    <button type="button" class="btn solid-green-32">Button</button>
                    <button type="button" class="btn solid-red-32">Button</button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-12">
                    <button type="button" class="btn line-36">Button</button>
                    <button type="button" class="btn point-36">Button</button>
                    <button type="button" class="btn red-point-36">Button</button>
                    <button type="button" class="btn green-point-36">Button</button>
                    <button type="button" class="btn solid-36">Button</button>
                    <button type="button" class="btn solid-green-36">Button</button>
                    <button type="button" class="btn solid-red-36">Button</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn line-40">Button</button>
                    <button type="button" class="btn point-40">Button</button>
                    <button type="button" class="btn red-point-40">Button</button>
                    <button type="button" class="btn green-point-40">Button</button>
                    <button type="button" class="btn solid-40">Button</button>
                    <button type="button" class="btn solid-green-40">Button</button>
                    <button type="button" class="btn solid-red-40">Button</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Icon Buttons -->
    <div class="col-lg-12 mb-3">

        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Icon Buttons</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn line-32">
                        <i class="icons icon-clear on-left"></i>
                        취소
                    </button>
                    <button type="button" class="btn line-32">
                        <i class="icons icon-add on-left"></i>
                        등록
                    </button>
                    <button type="button" class="btn line-32">
                        필터검색
                        <i class="icons icon-chevron-down on-right"></i>
                    </button>
                    <button type="button" class="btn line-32">
                        필터검색
                        <i class="icons icon-chevron-up on-right"></i>
                    </button>
                    <button type="button" class="btn solid-32">
                        <i class="icons icon-done on-left"></i>
                        저장
                    </button>
                </div>
            </div>
        </div>

    </div>

    <!-- Confirm Buttons -->
    <div class="col-lg-12 mb-3">

        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Confirm Buttons</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn confirm-line-46">취소</button>
                    <button type="button" class="btn confirm-solid-46">등록하기</button>
                    <button type="button" class="btn confirm-solid-red-46">등록하기</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Popup Buttons -->
    <div class="col-lg-12 mb-3">

        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Popup Buttons</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn popup-line-38">취소</button>
                    <button type="button" class="btn popup-solid-38">확인</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Tags Buttons -->
    <div class="col-lg-12 mb-3">

        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Tags</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="tag">#태그태그</button>
                    <button type="button" class="tag active">SELECTED</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Edit Buttons -->
    <div class="col-lg-12 mb-3">

        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Button Group</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            <!-- Button Group with Icons | Lined Button 32 -->
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <!-- Button Group with Icons-->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn line-32 with icons icon-chevron-up-2"></button>
                        <button type="button" class="btn line-32 with icons icon-chevron-up"></button>
                        <button type="button" class="btn line-32 with icons icon-chevron-down"></button>
                        <button type="button" class="btn line-32 with icons icon-chevron-down-2"></button>
                    </div>

                    <!-- Single Button with Icons-->
                    <button type="button" class="btn line-32 with icons icon-delete"></button>
                </div>

                <div class="col-lg-12 mb-3">

                    <!-- Button Group with Icons-->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn line-32 with icons icon-chevron-up"></button>
                        <button type="button" class="btn line-32 with icons icon-chevron-down"></button>
                    </div>

                </div>
            </div>

            <!-- Button Group with Icons | Lined Button 36 -->
            <div class="row">
                <div class="col-lg-12 mb-3">

                    <!-- Button Group with Icons-->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn line-36 with icons icon-chevron-up-2"></button>
                        <button type="button" class="btn line-36 with icons icon-chevron-up"></button>
                        <button type="button" class="btn line-36 with icons icon-chevron-down"></button>
                        <button type="button" class="btn line-36 with icons icon-chevron-down-2"></button>
                    </div>

                    <!-- Single Button with Icons-->
                    <button type="button" class="btn line-36 with icons icon-delete"></button>
                </div>


                <div class="col-lg-12">

                    <!-- Button Group with Icons-->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn line-36 with icons icon-chevron-up-2" disabled></button>
                        <button type="button" class="btn line-36 with icons icon-chevron-up" disabled></button>
                        <button type="button" class="btn line-36 with icons icon-chevron-down" disabled></button>
                        <button type="button" class="btn line-36 with icons icon-chevron-down-2" disabled></button>
                    </div>

                    <!-- Single Button with Icons-->
                    <button type="button" class="btn line-36 with icons icon-delete" disabled></button>
                </div>
            </div>
        </div>

    </div>

    <!-- Radio Button and Checkbox Button -->
    <div class="col-lg-12 mb-3">

        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Radio and Checkbox Button</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            {{!-- Radio Buttons --}}
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <!-- Radio Button -->
                    <div class="radio-button">
                        <label for="radio_1">
                            <input type="radio" value="" id="radio_1" name="radio_button_group_1">
                            <i class="radio"></i>
                            <span for="">텍스트</span>
                        </label>
                    </div>
                    <!-- End of Radio Button -->

                    <!-- Radio Button -->
                    <div class="radio-button">
                        <label for="radio_2">
                            <input type="radio" value="" id="radio_2" name="radio_button_group_1">
                            <i class="radio"></i>
                            <span for="">텍스트</span>
                        </label>
                    </div>
                    <!-- End of Radio Button -->

                    <!-- Radio Button -->
                    <div class="radio-button">
                        <label for="radio_3">
                            <input type="radio" value="" id="radio_3" name="radio_button_group_2" disabled>
                            <i class="radio"></i>
                            <span for="">텍스트</span>
                        </label>
                    </div>
                    <!-- End of Radio Button -->

                    <!-- Radio Button -->
                    <div class="radio-button">
                        <label for="radio_4">
                            <input type="radio" value="" id="radio_4" name="radio_button_group_2" disabled checked>
                            <i class="radio"></i>
                            <span for="">텍스트</span>
                        </label>
                    </div>
                    <!-- End of Radio Button -->

                </div>
            </div>

            {{!-- Checkboxes --}}
            <div class="row">
                <div class="col-lg-12">
                    <!-- Checkbox Button -->
                    <div class="checkbox-button">
                        <label for="check_01">
                            <input type="checkbox" value="" id="check_01" checked>
                            <i class="checkbox"></i>
                            <span for="">텍스트</span>
                        </label>
                    </div>
                    <!-- End of Checkbox Button -->

                    <div class="checkbox-button">
                        <label for="checkbox_02">
                            <input type="checkbox" value="" id="checkbox_02" disabled>
                            <i class="checkbox"></i>
                            <span for="">Disabled</span>
                        </label>
                    </div>

                    <div class="checkbox-button">
                        <label for="checkbox_03">
                            <input type="checkbox" value="" id="checkbox_03" checked disabled>
                            <i class="checkbox"></i>
                            <span for="">Checked Disabled</span>
                        </label>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- Pagination -->
    <div class="col-lg-12 mb-3">

        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Pagination</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Pagination -->
                    <ul class="pagination">
                        <li class="page-item icons icon-chevron-left-gray"><a href="#"></a></li>
                        <li class="page-item active"><a href="#">1</a></li>
                        <li class="page-item"><a href="#">2</a></li>
                        <li class="page-item"><a href="#">3</a></li>
                        <li class="page-item"><a href="#">4</a></li>
                        <li class="page-item"><a href="#">5</a></li>
                        <li class="page-item ellipsis"></li>
                        <li class="page-item"><a href="#">20</a></li>
                        <li class="page-item icons icon-chevron-right-gray"><a href="#"></a></li>
                    </ul>
                    <!-- End of Pagination -->
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12 mb-3">
    
        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Breadcrumbs</h2>
        </div>
    
        <!-- Content Wrapper Body -->
        <div class="wrapper-body">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Breadcrumbs -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">유저</a></li>
                            <li class="breadcrumb-item"><a href="#">유저조회</a></li>
                            <li class="breadcrumb-item active" aria-current="page">유저상세</li>
                        </ol>
                    </nav>
                    <!-- End of Breadcrumbs -->
                </div>
            </div>
        </div>
    
    </div>
    
</section>