<section class="content-wrapper">
    <!-- Content Wrapper Title -->
    <div class="wrapper-title">
        <h2>Calendar</h2>
    </div>

    <!-- Content Wrapper Body -->
    <div class="wrapper-body">
        Calendar Component Content
    </div>
</section>