<section class="row mb-4" id="alert_section">

    <div class="col-lg-12">

        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Date Picker</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            <div class="row">

                <div class="col-lg-6">
                    <div class="color-picker">
                        <div class="pickr"></div>
                        <input type="input" class="pickr-field" name="color" placeholder="#" value="#DC93FC">
                        <button class="btn-apply">적용</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>