<section class="row mb-4" id="alert_section">

    <div class="col-lg-12">
        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Date Range Picker</h2>
        </div>
        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            <div class="row">
                
                <div class="col-lg-6">
                    <div class="daterange-picker-container">
                        <input type="text" name="daterange" 
                            value="2018-06-10  ~  2018-06-12"/>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>