<section class="row mb-4" id="dropdown_section">
    <div class="col-lg-12">
        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Dropdown</h2>
        </div>
        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            <div class="d-flex">

                <!-- Dropdown Line 32 -->
                <select class="dropdown-select show-tick line-32">
                    <option>10개</option>
                    <option>25개</option>
                    <option>50개</option>
                    <option>100개</option>
                </select>
                <!-- End of Dropdown Line 32 -->

                <!-- Dropdown Line 36 -->
                <select class="dropdown-select show-tick line-36">
                    <option>선택</option>
                    <option>목록</option>
                    <option>목록</option>
                    <option>목록</option>
                </select>
                <!-- End of Dropdown Line 36 -->

                <!-- Dropdown Line 40 -->
                <select class="dropdown-select show-tick line-40">
                    <option>목록</option>
                    <option>목록</option>
                    <option>목록</option>
                    <option>목록</option>
                </select>
                <!-- End of Dropdown Line 40 -->

            </div>

        </div>

    </div>
</section>