<section class="row mb-4" id="dropdown_section">
    <div class="col-lg-12">
        
        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Dropdown Depth</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            <div class="d-flex">

                <div class="dropdown-depth">

                    <!-- First Depth -->
                    <div class="dropdown-depth-scope">
                        <div class="ui-widget-header">
                            <span>목록제목</span>
                        </div>

                        <div class="ui-widget-item">
                            <span>목록</span>

                            <!-- Second Depth -->
                            <ul class="dropdown-depth-content">
                                <li>
                                    <span>목록</span>
                                </li>
                                <li>
                                    <span>선택목록</span>
                                </li>
                                <li>
                                    <span>목록</span>
                                </li>
                                <li>
                                    <span>목록</span>
                                </li>
                                <li>
                                    <span>목록</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ui-widget-item">
                            <span>목록</span>

                            <!-- Second Depth -->
                            <ul class="dropdown-depth-content">
                                <li>
                                    <span>목록 2.1</span>
                                </li>
                                <li>
                                    <span>선택목록 2.2</span>
                                </li>
                                <li>
                                    <span>목록 2.3</span>
                                </li>
                                <li>
                                    <span>목록 2.4</span>
                                </li>
                                <li>
                                    <span>목록 2.5</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ui-widget-item">
                            <span>선택목록</span>

                            <!-- Second Depth -->
                            <ul class="dropdown-depth-content">
                                <li>
                                    <span>목록 3.1</span>
                                </li>
                                <li>
                                    <span>선택목록 3.2</span>
                                </li>
                                <li>
                                    <span>목록 3.3</span>
                                </li>
                                <li>
                                    <span>목록 3.4</span>
                                </li>
                                <li>
                                    <span>목록 3.5</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ui-widget-item">
                            <span>목록</span>

                            <!-- Second Depth -->
                            <ul class="dropdown-depth-content">
                                <li>
                                    <span>Rock</span>
                                </li>
                                <li>
                                    <span>Jazz</span>
                                </li>
                                <li>
                                    <span>KPOP</span>
                                </li>
                                <li>
                                    <span>Acoustic</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ui-widget-item">
                            <span>목록</span>

                            <!-- Second Depth -->
                            <ul class="dropdown-depth-content">
                                <li>
                                    <span>Rock</span>
                                </li>
                                <li>
                                    <span>Jazz</span>
                                </li>
                                <li>
                                    <span>KPOP</span>
                                </li>
                                <li>
                                    <span>Acoustic</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ui-widget-item">
                            <span>목록</span>

                            <!-- Second Depth -->
                            <ul class="dropdown-depth-content">
                                <li>
                                    <span>Rock</span>
                                </li>
                                <li>
                                    <span>Jazz</span>
                                </li>
                                <li>
                                    <span>KPOP</span>
                                </li>
                                <li>
                                    <span>Acoustic</span>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="dropdown-depth-scope">
                        <div class="ui-widget-header">
                            <span>목록제목</span>

                            <!-- Second Depth -->
                            <ul class="dropdown-depth-content">
                                <li>
                                    <span>Rock</span>
                                </li>
                                <li>
                                    <span>Jazz</span>
                                </li>
                                <li>
                                    <span>KPOP</span>
                                </li>
                                <li>
                                    <span>Acoustic</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ui-widget-item">
                            <span>목록</span>

                            <!-- Second Depth -->
                            <ul class="dropdown-depth-content">
                                <li>
                                    <span>Rock</span>
                                </li>
                                <li>
                                    <span>Jazz</span>
                                </li>
                                <li>
                                    <span>KPOP</span>
                                </li>
                                <li>
                                    <span>Acoustic</span>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
</section>