<section class="row mb-4" id="alert_section">

    <div class="col-lg-12">
        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Basic Input</h2>
        </div>
        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            <div class="row">

                <div class="col-lg-6 mb-5">
                    <div class="input-container" data-target="#input-basic">
                        <input class="input-field" id="input-basic" type="text" 
                            placeholder="제목을 입력해주세요" maxlength="100" maxend="자">
                    </div>
                </div>

                <div class="col-lg-6 mb-5">

                    <div class="input-container" data-target="#input-basic-disabled">
                        <input class="input-field" id="input-basic-disabled" type="text" 
                            placeholder="제목을 입력해주세요" maxlength="100" maxend="자" disabled>
                    </div>

                </div>

                <div class="col-lg-6 mb-3">
                    <div class="input-container with-info" data-target="#input-basic-info">
                        <input class="input-field" id="input-basic-info" type="text" 
                            placeholder="제목을 입력해주세요" maxlength="100" maxend="자">
                        <p class="info-content">
                            <span>권장 사이즈 : 640x320</span>
                            <span>동영상 권장 사이즈 : 100MB</span>
                        </p>
                    </div> 
                </div>

                <div class="col-lg-6 mb-3">
                    <div class="input-container with-error" data-target="#input-basic-error">
                        <input class="input-field" id="input-basic-error" type="text" placeholder="제목을 입력해주세요" maxlength="100" maxend="자">
                        <p class="error-content">정확한 정보를 입력해 주세요.</p>
                    </div>
                </div>

                <div class="col-lg-6 mb-3">
                    <div class="input-container with-textarea" data-target="#textarea-basic">
                        <textarea class="input-field" 
                            placeholder="제목을 입력해주세요" 
                            maxlength="1000" maxend="자"
                            id="textarea-basic" 
                            cols="30" rows="10"></textarea>
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                
                    <div class="input-container" data-target="#input-basic-no-counter">
                        <input class="input-field" id="input-basic-no-counter" type="text" 
                            placeholder="제목을 입력해주세요">
                    </div>
                
                </div>

            </div>

        </div>

    </div>
</section>