<section class="row mb-4" id="modal_section">
    <div class="col-lg-12">
        <div class="wrapper-title">
            <h2>Modal</h2>
        </div>
        <div class="wrapper-body">

            <!-- Sample Modal Title and Text | Default modal-->
            <div class="modal modal-xsmall" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>
                                입력하신 정보와 일치하는 정보가 없습니다. <br>
                                다시 입력정보를 확인해주세요.
                            </p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- with-title -->
            <div class="modal modal-small with-title" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">팝업 타이틀</h5>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>입력하신 정보와 일치하는 정보가 없습니다.</p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- with-component -->
            <div class="modal modal-medium with-component" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">팝업 타이틀</h5>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p>입력하신 정보와 일치하는 정보가 없습니다.</p>

                            <div class="input-wrapper">
                                <input type="text">
                                <span>0/20자</span>
                            </div>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- with-scroll -->
            <div class="modal modal-large with-scroll" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">팝업 타이틀</h5>

                            <button type="button" class="icons icon-popup-close close" data-dismiss="modal"
                                aria-label="close"></button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p class="box-content-demo"></p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- with-tab -->
            <div class="modal modal-xlarge with-scroll with-tab" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">팝업 타이틀</h5>

                            <!-- Tab Navigation -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="content-1-tab" data-toggle="tab" href="#content-1"
                                        role="tab" aria-controls="content-1" aria-selected="true">팝업 탭</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="content-2-tab" data-toggle="tab" href="#content-2"
                                        role="tab" aria-controls="content-2" aria-selected="false">팝업 탭</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">

                            <!-- Tab Content -->
                            <div class="tab-content">


                                <!-- Tab Content Panel 1 -->
                                <div class="tab-pane fade show active" id="content-1" role="tabpanel"
                                    aria-labelledby="content-1-tab">
                                    <p class="box-content-demo">
                                        팝업 탭 Content 01
                                    </p>
                                </div>

                                <!-- Tab Content Panel 2 -->
                                <div class="tab-pane fade" id="content-2" role="tabpanel"
                                    aria-labelledby="content-2-tab">
                                    <p class="box-content-demo">
                                        팝업 탭 Content 02
                                    </p>
                                </div>
                            </div>

                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn popup-line-38">취소</button>
                            <button type="button" class="btn popup-solid-38">확인</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>