<section class="row mb-4" id="dropdown_section">
    <div class="col-lg-12">
        <div class="wrapper-title">
            <h2>Multiple Select</h2>
        </div>
        <div class="wrapper-body">

            <div class="multi-select">
                <select class="multiple-select" name="kpop" multiple>
                    <option value="1" selected>BTS</option>
                    <option value="2" selected>진</option>
                    <option value="3">슈가</option>
                    <option value="4">J-Hope</option>
                    <option value="5">RM</option>
                    <option value="6">지민</option>
                    <option value="7">Red Velvet</option>
                    <option value="8">WannaOne</option>
                    <option value="9">Super Junior</option>
                    <option value="10">Twice</option>
                    <option value="11">Growl</option>
                </select>
            </div>

        </div>
    </div>
</section>