<section class="content-wrapper">
    <!-- Content Wrapper Title -->
    <div class="wrapper-title">
        <h2>Pagination</h2>
    </div>

    <!-- Content Wrapper Body -->
    <div class="wrapper-body">
        <nav aria-label="Page navigation example">

            <!-- Pagination -->
            <ul class="pagination">
                <li class="page-item icons icon-chevron-left-gray"><a href="#"></a></li>
                <li class="page-item active"><a href="#">1</a></li>
                <li class="page-item"><a href="#">2</a></li>
                <li class="page-item"><a href="#">3</a></li>
                <li class="page-item"><a href="#">4</a></li>
                <li class="page-item"><a href="#">5</a></li>
                <li class="page-item ellipsis"></li>
                <li class="page-item"><a href="#">20</a></li>
                <li class="page-item icons icon-chevron-right-gray"><a href="#"></a></li>
            </ul>
            <!-- End of Pagination -->
        </nav>
    </div>
</section>