<section class="row mb-4" id="alert_section">

    <div class="col-lg-12">
        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Search Input</h2>
        </div>
        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            <div class="row">

                <div class="col-lg-4">
                    
                    {{!-- Basic Search Input --}}
                    <div class="search-input-container" data-target="#search-input">
                        <button class="search-field-clear" data-target="#search-input"></button>
                        <input class="search-field" id="search-input" placeholder="검색어를 입력해주세요">
                    </div>

                </div>

                <div class="col-lg-4">
                    
                    {{!-- Basic Search Input Lines --}}
                    <div class="search-input-container line-container" data-target="#search-input-2">
                        <button class="search-field-clear" data-target="#search-input-2"></button>
                        <input class="search-field" id="search-input-2" placeholder="검색어를 입력해주세요">
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
