<section class="row mb-4" id="alert_section">

    <div class="col-lg-12">
        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Slider</h2>
        </div>

        <!-- Content Wrapper Body -->
        <div class="wrapper-body">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Start of Range Slider -->
                    <div class="slider">
                        <div id="range-slider"></div>
                    </div>
                    <!-- End of Range Slider -->

                </div>
            </div>
        </div>

    </div>
</section>