<section class="content-wrapper">
    <!-- Content Wrapper Title -->
    <div class="wrapper-title">
        <h2>Tags</h2>
    </div>

    <!-- Content Wrapper Body -->
    <div class="wrapper-body">
        Tags Component Content
    </div>
</section>