<div class="row mb-4">

    <div class="col-lg-12">
        <!-- Content Wrapper Title -->
        <div class="wrapper-title">
            <h2>Tooltip</h2>
        </div>
        <!-- Content Wrapper Body -->
        <div class="wrapper-body">

            <!-- Tooltip Bottom -->
            <div class="row mb-5">
                <div class="col-lg-3">
                    <label class="tooltip-label">
                        <span>텍스트</span>
                        <button type="button" class="icons icon-help-circle on-right" data-toggle="tooltip"
                            data-placement="bottom" title="툴팁텍스트"></button>
                    </label>
                </div>
                <div class="col-lg-3">
                    <label class="tooltip-label">
                        <span>텍스트</span>
                        <button type="button" class="icons icon-help-circle on-right" data-toggle="tooltip"
                            data-placement="top" title="툴팁텍스트"></button>
                    </label>
                </div>

                <div class="col-lg-3">
                    <label class="tooltip-label">
                        <span>텍스트</span>
                        <button type="button" class="icons icon-help-circle on-right" data-toggle="tooltip"
                            data-placement="left" title="툴팁텍스트"></button>
                    </label>
                </div>


                <div class="col-lg-3">
                    <label class="tooltip-label">
                        <span>텍스트</span>
                        <button type="button" class="icons icon-help-circle on-right" data-toggle="tooltip"
                            data-placement="right" title="툴팁텍스트"></button>
                    </label>
                </div>

            </div>

        </div>

    </div>
</div>