<!-- Start of LNB -->
<aside class="lnb">

    <!-- Navigation Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{#if htmlWebpackPlugin.options.isProduction}}./{{else}}/pages/guide/{{/if}}element01.html">UI Elements 01</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{#if htmlWebpackPlugin.options.isProduction}}./{{else}}/pages/guide/{{/if}}element02.html">UI Elements 02</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{#if htmlWebpackPlugin.options.isProduction}}./{{else}}/pages/guide/{{/if}}element03.html">UI Elements 03</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{#if htmlWebpackPlugin.options.isProduction}}./{{else}}/pages/guide/{{/if}}forms.html">Forms</a>
        </li>
    </ul>

    <!-- Brand Copyright -->
    <div class="copyright">
        <span> Copyright ⓒ <b>SPERGAMING.</b></span>
    </div>

</aside>
<!-- END of LNB -->