.datetime-picker-group  {
    display: flex;
    align-items: center;
    position: relative;

    .divider {
        font-size: 16px;
        padding: 0 8px;
        color: #616161;
        font-weight: bold;
    }

    .error-content {
        width: 100%;
        font-size: 12px;
        color: #f44336;
        position: absolute;
        bottom: -26px;
        margin-bottom: 0px;
    }
}

.datetime-picker-container {
    display: flex;

    .datepicker-container {
        width: 154px;
        height: 40px;
        border-radius: 4px;
        margin-right: 8px;
        border: solid 1px #e0e0e0;
        overflow: hidden;
        position: relative;

        &.with-error {
            border: 1px solid #f44336;
        }

        .datepicker-init {
            height: 100%;
            width: 100%;
            padding: 0 16px;
            font-size: 14px;
            color: #424242;
            border: 0px;
            outline: unset;
            box-shadow: unset;

            &:focus {

            }

            &::placeholder {
                color: #bdbdbd;
            }

        }

        &::after {
            content: "";
            position: absolute;
            right: 18px;
            top: 10px;
            width: 18px;
            height: 18px;
            background-size: 18px;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: center;
            background-image: url("/static/icons/calendar@2x.png");
        }
    }

    .dropdown {
        width: 106px !important;
        

        &.with-error {
            .dropdown-toggle {
                border: 1px solid #f44336;
                border-bottom: 1px solid #f44336 !important;
            }
        }

        .dropdown-toggle {
            height: 100%;
            border-bottom-left-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
            border-bottom: 1px solid #d3d9df !important;
            background-size: 18px;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: 70px center;
            position: relative;

            .filter-option-inner-inner {
                font-size: 14px;
            }

            &:after {
                content: unset;
            }

            &:before {
                content: "";
                position: absolute;
                right: 18px;
                top: 10px;
                width: 18px;
                height: 18px;
                background-size: 18px;
                background-repeat: no-repeat;
                background-color: transparent;
                background-position: center;
                background-image: url("/static/icons/clock.svg");
            }
        }

        div.dropdown-menu {
            max-height: 380px !important;
            width: 100%;
            margin-top: 10px;
            padding: 10px 0px 14px 0px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border: solid 1px #e0e0e0;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
              0 0 2px 0 rgba(0, 0, 0, 0.06);
            
            .inner {
                @include scrollbar;
            }

            li {
                height: 36px;
                
                a {
                    span {
                        font-size: 14px;
                    }

                    .check-mark {
                        right: 8px !important;
                        top: 8px !important;
                    }
                }
            }
        }

        &.show {
            .dropdown-toggle {
                &:after {
                    content: unset; // TODO: Change to Clock Icon
                }
            }
        }
    }
}

// Actual Datepicker Container
.datepickers-container {
    .datepicker {
        width: 268px;
        border-radius: 4px;
        border: solid 1px #bdbdbd;
        // box-shadow: 0 0px 3px 0px rgba(0, 0, 0, .15);
        box-shadow: unset;
        overflow: hidden;

        .datepicker--pointer {
            display: none;
        }

        .datepicker--nav {
            height: 56px;
            padding: 0;
            position: relative;

            .datepicker--nav-title {
                position: absolute;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                color: #424242;
                border-radius: 0px;
                height: 100%;
                width: 50%;

                i {
                    color: #424242;
                }

                &:hover {
                    background-color: #eeeeee;
                }
            }

            .datepicker--nav-action {
                position: absolute;
                width: 24px;
                height: 24px;
                border-radius: 0px;
                top: 17px;
                display: flex;
                align-items: center;
                background-size: 100%;
                background-repeat: no-repeat;
                background-color: transparent;
                
                &[data-action="prev"] {
                    right: 68px;
                    background-image: url("/static/icons/chevron-left.svg");
                    
                    &:hover {
                        background-image: url("/static/icons/chevron-left-darker.svg");
                    }
                }
                
                &[data-action="next"] {
                    right: 25px;
                    background-image: url("/static/icons/chevron-right.svg");
                    
                    &:hover {
                        background-image: url("/static/icons/chevron-right-darker.svg");
                    }
                }
                
                svg {
                    display: none;
                }
            }
        }

        .datepicker--content {
            padding: 13px 22px 22px 22px;

            .datepicker--days-names {
                margin: 0px 0px 10px 0px;

                .datepicker--day-name {
                    width: 30px;
                    height: 30px;
                    font-size: 13px;
                    font-weight: normal;
                    color: #424242;
                }
            }

            .datepicker--cells {
                .datepicker--cell {
                    height: 30px;
                    font-size: 13px;
                    color: #424242;
                    border-radius: 40px;
                    transition: background-color 0.2s;
                    
                    &.datepicker--cell-day{
                        &.-current-{
                        }

                        &.-focus-{
                            background-color: #eeeeee;
                        }

                        &.-selected-{
                            background-color: #2196f3;
                            color: #ffffff;
                        }

                        &.-other-month-{
                            color: #bdbdbd;
                        }
                    }

                    &.datepicker--cell-year,
                    &.datepicker--cell-month {
                        height: 30px;
                        width: 42px;
                        margin-right: 18px;
                        margin-bottom: 10px;

                        &.-focus- {
                            background-color: #eeeeee;
                        }

                        &.-selected-{

                        }

                        &.-current- {
                            background-color: #2196f3;
                            color: #ffffff;
                        }

                        &:nth-child(4n+4){
                            margin-right: 0px;
                        }

                        &:nth-last-child(-n+4) {
                            margin-bottom: 0px;
                        }

                    }
                }
            }

            .datepicker--days {
                .datepicker--days-names {}
            }

            .datepicker--cells-months {
                height: auto;
            }

            .datepicker--cells-years,
            .datepicker--years {
                height: auto;
            }
        }

    }
}